<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="24" style="padding-left: 25px;">
        <el-row>
          <el-form ref="form" label-position="left" :model="form" style="margin-top: 20px;">
<!--              {{form}}-->
            <div class="inline-item">
              <el-form-item label="First Name" label-width="140px" class="left">
                <el-input v-model="form.fname" ></el-input>
              </el-form-item>
              <el-form-item label="Last Name" label-width="100px" class="right">
                <el-input v-model="form.lname" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Personal ID (SSN)" label-width="140px" class="left">
                <el-input v-model="form.ssn" ></el-input>
              </el-form-item>
              <el-form-item label="Bank Account Number" label-width="180px" class="right">
                <el-input v-model="form.bank_account_no" ></el-input>
              </el-form-item>
            </div>

            <div class="inline-item">
              <el-col :span="12">
                <el-form-item label="Phone" label-width="140px" class="left">
                  <el-col class="line" :span="2" style="font-size: 22px;font-weight: bold">+</el-col>
                  <el-col :span="6" style="margin-right: 10px;">
                    <el-form-item prop="phone_code">
                      <el-input v-model="form.phone_code" ></el-input>
                    </el-form-item>
                  </el-col>
                  <!--                <el-col class="line" :span="1">-</el-col>-->
                  <el-col :span="14">
                    <el-form-item prop="phone">
                      <el-input v-model="form.phone" ></el-input>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="Email" label-width="100px" class="right" prop="email">
                  <el-input v-model="form.email" ></el-input>
                </el-form-item>
              </el-col>
            </div>
            <div class="inline-item">
              <el-form-item label="Street Address" label-width="140px">
                <el-input v-model="form.address" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-col :span="12">
                <el-form-item label="Country Zip Code" label-width="140px" class="left">
                  <el-col :span="8">
                    <el-form-item>
                      <el-input v-model="form.zipcode1" ></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col class="line" :span="2" style="text-align: center">-</el-col>
                  <el-col :span="14">
                    <el-form-item >
                      <el-input v-model="form.zipcode2" ></el-input>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="City" label-width="100px" class="right">
                  <el-input v-model="form.city" ></el-input>
                </el-form-item>
              </el-col>
            </div>
            <div class="inline-item">
              <el-form-item label="Crew Position" label-width="140px">
                <el-select
                  v-model="positions"
                  multiple
                  clearable
                  filterable
                  style="width: 100%"
                  placeholder="Select Position"
                >
                  <el-option-group
                    v-for="group in departments"
                    :key="group.id"
                    :label="group.name"
                  >
                    <el-option
                      v-for="item in group.positions"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-option-group>
                </el-select>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Year Experience" label-width="140px" class="left">
                <el-col :span="4">
                  <el-form-item>
                    <el-input v-model="form.experience" ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="10" style="margin-left: 10px;">
                  <el-form-item label="Rate" label-width="40px">
                    <el-input v-model="form.rate" ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="6" style="margin-left: 10px; font-weight: 700">
                  NOK/Day
                </el-col>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="WWW" label-width="140px">
                <el-input v-model="form.www" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="IMDB" label-width="140px">
                <el-input v-model="form.imdb" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Skype" label-width="140px">
                <el-input v-model="form.skype" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Facebook" label-width="140px">
                <el-input v-model="form.facebook" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Twitter" label-width="140px">
                <el-input v-model="form.twitter" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Company" label-width="140px">
                <el-input v-model="form.company" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Note" label-width="140px">
                <el-input v-model="form.note" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item style="margin-top: 20px;" label="" label-width="140px">
                <el-button type="primary" @click="onSubmit">Submit</el-button>
              </el-form-item>
            </div>
          </el-form>
        </el-row>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { getToken } from '@/utils/auth' // get token from cookie
import { getInfo, saveForm, fetchDepartments } from '@/api/mainApi'
export default {
  data() {
    return {
      person: {},
      positions: [],
      departments: null,
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    this.getInfo()
    this.getAllDepartment()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    getInfo() {
      getInfo(getToken()).then(response => {
        this.form = response.data.data
        this.positions = response.data.data.position_tags ? response.data.data.position_tags.map(pos => pos.id) : ''
        setTimeout(() => {
        }, 1.5 * 1000)
      })
    },
    getAllDepartment() {
      fetchDepartments().then(response => {
        this.departments = response.data.data
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    onSubmit() {
      this.form.positions = this.positions
      saveForm(this.form).then(() => {
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
      })
    }
  }
}
</script>
<style scoped>
  .inline-item{
    display: table-header-group;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .el-form-item {
    margin-bottom: 5px !important;
    line-height: 12px;
  }
  .el-form-item__content {
    position: relative;
    font-size: 10px;
    height: 12px;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
