<template>
  <div class="dashboard-editor-container">
    <el-row :gutter="20" style="">
      <el-col :span="12" style="margin-top: 30px;padding-right: 25px;">
        <el-row>
          <span style="font-size: 20px"> Page Content</span>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>
