<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="24">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">Company Information</span>
          <el-input
            v-model="search"
            style="width: 40%;float: right;"
            placeholder="Search"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="Company name">
            <el-input v-model="form.name" />
          </el-form-item>
          <el-form-item label="Email">
            <el-input v-model="form.email" />
          </el-form-item>
          <el-form-item label="Phone">
            <el-input v-model="form.phone" />
          </el-form-item>
          <el-form-item label="Address">
            <el-input v-model="form.address" />
          </el-form-item>
        </el-form>
        <span class="dialog-footer" style="float: right;margin-top: 20px;">
        <el-button type="danger" @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Save</el-button>
      </span>
        <el-row style="margin-top: 30px;">

          <el-button type="primary" size="mini" @click="handleAddCrew">Add Administrator</el-button>
        </el-row>
        <el-table
          :data="tableData"
          style="width: 100%;margin-top: 30px;">
          <el-table-column
            prop="name"
            label="Name"
            width="180">
          </el-table-column>
          <el-table-column
            prop="email"
            label="Email">
          </el-table-column>
          <el-table-column
            prop="phone"
            label="Phone">
          </el-table-column>
          <el-table-column
            prop="address"
            label="Address">
          </el-table-column>
        </el-table>

      </el-col>
    </el-row>
    <el-dialog
      title="New Company"
      :visible.sync="dialogVisible"
      width="50%"
    >
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Company name">
          <el-input v-model="form.name" />
        </el-form-item>
        <el-form-item label="Email">
          <el-input v-model="form.email" />
        </el-form-item>
        <el-form-item label="Phone">
          <el-input v-model="form.phone" />
        </el-form-item>
        <el-form-item label="Address">
          <el-input v-model="form.address" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Save</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { fetchDepartments, fetchPersons, assignPosition, removePosition, addPosition, addCrew, editDepartment, editPosition, addPerson, deleteDepartment, deletePosition, editPerson, deletePerson, filterPeopleByPosition } from '@/api/mainApi'
export default {
  data() {
    return {
      tableData: [{
        name: 'Tom',
        email: 'test@gmail.com',
        phone: '+336554588',
        address: 'No. 189, Grove St, Los Angeles'
      },{
        name: 'Tom',
        email: 'test@gmail.com',
        phone: '+336554588',
        address: 'No. 189, Grove St, Los Angeles'
      },{
        name: 'Tom',
        email: 'test@gmail.com',
        phone: '+336554588',
        address: 'No. 189, Grove St, Los Angeles'
      },{
        name: 'Tom',
        email: 'test@gmail.com',
        phone: '+336554588',
        address: 'No. 189, Grove St, Los Angeles'
      }],
      selectedName: null,
      edit: false,
      editPerson: false,
      // watchSelect: false,
      clickedColor: false,
      clickedDepColor: false,
      positionClicked: false,
      pID: null,
      ppID: null,
      selectedColor: true,
      selected: false,
      select: true,
      dialogVisible: false,
      rules: {
        fname: [{ required: true, message: '_', trigger: 'blur' }],
        email: [{ required: true, message: '_', trigger: 'blur' }],
        phone_code: [{ required: true, message: '_', trigger: 'blur' }],
        phone: [{ required: true, message: '_', trigger: 'blur' }],
        barcode: [{ required: true, message: 'Barcode is required', trigger: 'blur' }]
      },
      dialogVisibleEditDepartment: false,
      dialogVisibleEditPosition: false,
      dialogVisibleEditPerson: false,
      dialogVisibleEditExperience: false,
      dialogVisibleEditIMDB: false,
      dialogVisibleEditEmail: false,
      dialogVisibleEditPhone: false,
      dialogVisibleEditSkype: false,
      dialogVisibleEditFacebook: false,
      dialogVisibleEditTwitter: false,
      dialogVisibleAddPosition: false,
      dialogVisibleAddCrew: false,
      dialogVisibleAddPerson: false,
      currentRow: {
        persons: [{}]
      },
      currentDepRow: {},
      currentPerson: [],
      positions: [],
      departments: null,
      departments1: [
        {
          id: '1',
          name: 'KEY CREATIVE TEAM',
          positions: [
            {
              id: '1',
              name: 'Producer',
              persons: [
                {
                  id: 1,
                  name: 'Kkyalg Molvar',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' skype',
                  facebook: 'facebook ',
                  twitter: ' twitter'
                },
                {
                  id: 3,
                  name: 'Steven',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' ',
                  facebook: ' ',
                  twitter: ' '
                }
              ]
            },
            {
              id: '2',
              name: 'Director',
              persons: [
                {
                  id: 3,
                  name: 'Steven',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' ',
                  facebook: ' ',
                  twitter: ' '
                }
              ]
            },
            {
              id: '3',
              name: 'Screenwriters',
              persons: [
                {
                }
              ]
            }
          ]
        },
        {
          id: '2',
          name: 'PRODUCTION DEPARTMENT',
          positions: [
            {
              id: '4',
              name: 'Executive Producer',
              persons: [
                {
                  id: 1,
                  name: 'Kkyalg Molvar',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' skype',
                  facebook: 'facebook ',
                  twitter: ' twitter'
                }
              ]
            },
            {
              id: '5',
              name: 'Line Producer',
              persons: [
                {
                  id: 2,
                  name: 'Francis Ford Copala',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' ',
                  facebook: ' ',
                  twitter: ' '
                }
              ]
            },
            {
              id: '6',
              name: 'Production Manager',
              persons: [
                {
                  id: 3,
                  name: 'Steven',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' ',
                  facebook: ' ',
                  twitter: ' '
                }
              ]
            },
            {
              id: '7',
              name: 'Production Coordinator',
              persons: [
                {
                  id: 4,
                  name: 'Spielber6',
                  experience: '25 Years Experience',
                  imob: 'Filmography ',
                  email: 'skylog@flim-it.no ',
                  phone: '+47 900 49 585',
                  skype: ' ',
                  facebook: ' ',
                  twitter: ' '
                }
              ]
            },
            {
              id: '8',
              name: 'Production Secretary',
              persons: [
                {
                }
              ]
            },
            {
              id: '9',
              name: 'Production Accountant',
              persons: [
                {
                }
              ]
            }
          ]
        }
      ],
      tableKey: 0,
      search: null,
      checked: null,
      persons: null,
      persons1: [
        {
          id: 1,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' skype',
          facebook: 'facebook ',
          twitter: ' twitter',
          name: 'Kkyalg Molvar'
        },
        {
          id: 2,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Francis Ford Copala'
        },
        {
          id: 3,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Steven'
        },
        {
          id: 4,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Spielber6'
        },
        {
          id: 5,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Test'
        }
      ],
      value: null,
      activePerson: null,
      total: 0,
      temp: {
        name: null,
        positions: [],
        experience: null,
        imob: null,
        email: null,
        phone: null,
        skype: null,
        facebook: null,
        twitter: null
      },
      ranks: [
        {
          id: 1,
          name: 'A'
        },
        {
          id: 2,
          name: 'B'
        },
        {
          id: 3,
          name: 'C'
        },
        {
          id: 4,
          name: 'D'
        },
        {
          id: 5,
          name: 'E'
        },
        {
          id: 6,
          name: 'F'
        }
      ],
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: 'Film It',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    this.getAllDepartment()
    this.getAllPersons()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleEditDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditDepartment = true
    },
    handleDeletePosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePosition(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeletePerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePerson(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeleteDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      if (confirm('Are You Want Delete ? ')) {
        deleteDepartment(this.temp.id).then(() => {
          this.getAllDepartment()
          this.getAllPersons()
          this.$notify({
            title: 'Deleted',
            message: 'Successfully Deleted',
            type: 'success',
            duration: 2000
          })
        })
      }
    },
    handleEditPosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPosition = true
    },
    handleEditPerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.positions = row.position_tags.map(pos => pos.id) // copy obj
      this.dialogVisibleEditPerson = true
    },
    handleEditExperience(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditExperience = true
    },
    handleEditIMDB(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditIMDB = true
    },
    handleEditEmail(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditEmail = true
    },
    handleEditPhone(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPhone = true
    },
    handleEditSkype(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditSkype = true
    },
    handleEditFacebook(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditFacebook = true
    },
    handleEditTwitter(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditTwitter = true
    },
    handleAddPerson() {
      this.temp = {}
      this.positions = []
      this.temp.active = ['1']
      // this.temp.positions = [] // copy obj
      this.dialogVisibleAddPerson = true
    },
    handleAddCrew(position) {
      this.temp = Object.assign({}, '') // copy obj
      this.dialogVisible = true
    },
    handleAddPosition(position, department_id) {
      this.temp = Object.assign({}, '') // copy obj
      this.form = Object.assign({}, '') // copy obj
      this.temp.position_id = position.id // copy obj
      this.temp.department_id = department_id // copy obj
      this.dialogVisibleAddPosition = true
    },
    handleShowCrew() {
      this.dialogVisible = true
    },
    handleSendEmail() {
      this.clickedColor = true
    },
    handleSelect(person) {
      this.activePerson = person.id
      this.select = !this.select
    },
    getAllDepartment() {
      this.listLoading = true
      this.select = true
      this.value = null
      fetchDepartments().then(response => {
        this.departments = response.data.data

        this.watchSelect = !this.watchSelect
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    getAllPersons() {
      this.listLoading = true
      this.value = null
      fetchPersons().then(response => {
        this.persons = response.data.data

        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleAssign(row) {
      this.temp = Object.assign({}, row) // copy obj
    },
    assignPosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      assignPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.pID = person.id
        this.selectedName = person.name
        this.ppID = null
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    addPosition() {
      // this.activePerson = person.id
      var data = '{"department_id":"' + this.temp.department_id + '",' + '"name":"' + this.form.name + '",' + '"position_id":"' + this.temp.position_id + '"}'
      addPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updateDepartment() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editDepartment(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditDepartment = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePosition() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editPosition(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePerson() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name +
        '"experience":"' + this.temp.experience +
        '"imob":"' + this.temp.imob +
        '"email":"' + this.temp.email +
        '"phone":"' + this.temp.phone +
        '"skype":"' + this.temp.skype +
        '"facebook":"' + this.temp.facebook +
        '"twitter":"' + this.temp.twitter +
        '"}'
      this.temp.positions = this.positions
      editPerson(this.temp, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPerson = false
      })
    },
    updateExperience() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"experience":"' + this.temp.experience + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditExperience = false
      })
    },
    updateIMDB() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"imob":"' + this.temp.imob + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditIMDB = false
      })
    },
    updateEmail() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"email":"' + this.temp.email + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditEmail = false
      })
    },
    updatePhone() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"phone":"' + this.temp.phone + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPhone = false
      })
    },
    updateSkype() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"skype":"' + this.temp.skype + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditSkype = false
      })
    },
    updateFacebook() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"facebook":"' + this.temp.facebook + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditFacebook = false
      })
    },
    updateTwitter() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"twitter":"' + this.temp.twitter + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditTwitter = false
      })
    },
    addCrew() {
      // this.activePerson = person.id
      var data = '{"dep":"' + this.form.depName + '",' + '"pos":"' + this.form.posName + '",' + '"position_id":"' + this.temp.position_id + '"}'
      addCrew(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddCrew = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },

    addPerson() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          // var data = '{"name":"' +
          //   this.temp.name + '","experience":"' + this.temp.experience + '","imob":"' +
          //   this.temp.imob + '","email":"' + this.temp.email + '","phone":"' + this.temp.phone + '","skype":"' +
          //   this.temp.skype + '","facebook":"' + this.temp.facebook + '","twitter":"' +
          //   this.temp.twitter + '"}'
          this.temp.positions = this.positions
          addPerson(this.temp).then(() => {
            this.getAllDepartment()
            this.getAllPersons()
            this.$notify({
              title: 'Saved',
              message: 'Successfully Saved',
              type: 'success',
              duration: 2000
            })
            this.dialogVisibleAddPerson = false
            // this.watchSelect = !this.watchSelect
            // this.select = !this.select
          })
        }
      })
    },
    removePosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      removePosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Removed',
          type: 'success',
          duration: 2000
        })
        this.pID = null
        this.selectedName = null
        this.ppID = person.id
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    handleClick(row) {
      this.$store.dispatch('extra/setPosition', row)
        .then(() => {
          console.log('stored')
        })
        .catch(() => {
          console.log('not stored')
        })
      this.currentRow = row
      this.persons = row.persons
      if (row.persons.length < 1) {
        console.log('row' + row.id)
        this.handleCrePosition(row.id)
        console.log('row.persons.length ' + row.persons.length)
      }
      this.currentPerson = row.persons.map(person => person.id)
      this.value = row.id
      this.clickedDepColor = false
      this.clickedColor = true
      // console.log('row ' + row.persons.map(person => person.id))
      this.activePerson = row.persons.map(person => person.id)
      // this.selected = row.persons.map(person => this.activePerson.includes(person.id))
      // this.selected = row.persons.map(person => this.activePerson.includes(person.id))

      // console.log('row.persons.map(person => this.activePerson.includes(person.id)) ' + row.persons.map(person => this.activePerson.includes(person.id)))
      // console.log('this.activePerson ' + this.activePerson)
      // if (row.persons.map(person => this.activePerson.includes(person.id))) {
      //   console.log('matched')
      //   // this.select = false
      // } else {
      //   // console.log('row.persons.map(person => person.id).includes(this.activePerson) ' + row.persons.map(person => person.id).includes(this.activePerson))
      //   // console.log('this.activePerson ' + this.activePerson)
      // }
    },
    handleDepClick(row) {
      this.currentDepRow = row
      this.clickedDepColor = true
      this.clickedColor = false
    },
    handleCrePosition(val) {
      filterPeopleByPosition(val).then(response => {
        // this.activePerson = response.data
        this.persons = response.data.data.person_tags
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
      // this.currentRow = val
      // this.value = val
      // console.log(this.departments.map(dep => dep.positions.includes(val) ? 'm' : val))
      // console.log(this.persons.map(person => person.position.includes(val) ? 'm' : val))
      // this.activePerson = val
      this.clickedColor = true
    },
    handleChangePerson(person) {
      person.show = true
      console.log('mode ' + person.show)
    },
    editDepartment(id) {
      this.departments.name = id.name
      this.departments.id = id.id
      console.log(this.departments.name)
      console.log(this.departments.id)
    }
  }
}
</script>

<style scoped>
  .inline-item{
    display: table-header-group;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .el-form-item {
    margin-bottom: 5px !important;
    line-height: 12px;
  }
  .el-form-item__content {
    position: relative;
    font-size: 10px;
    height: 12px;
  }
</style>
<style>
  .right .el-form-item__label {
    text-align: right;
  }
  .el-select-dropdown.el-popper {
    background: #212629;
  }
  .form-header {
    background: #212629;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 5px;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #3b3c3d;
  }
  .el-select .el-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: rgba(24, 144, 255, 0.1);
  }
  .el-dialog__header {
    padding: 20px;
    padding-bottom: 10px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-dialog__title {
    font-size: 18px;
    color: rgb(24, 144, 255);
  }
    .el-dialog__footer {
      padding: 20px;
      padding-top: 10px;
      text-align: right;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #1e1e1f;
      border: 1px solid #fff;
    }
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-input--medium .el-input__inner {
    height: 32px;
    line-height: 36px;
    background: #212629;
    color: #fff;
  }
  .el-dialog__body {
    padding: 30px 20px;
    color: #ffffff;
    font-size: 14px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__header {
    height: 34px;
    line-height: 48px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
  }
  .el-collapse-item__header.is-active{
    background-color: #1e1e1f;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
