<template>
  <div class="dashboard-editor-container">
    <el-row v-if="!isAdmin" :gutter="20" style="">
      <el-col :span="12" style="margin-top: 30px;padding-right: 25px;">
        <el-row>
          <span style="font-size: 20px"> Page Content</span>
        </el-row>
      </el-col>
    </el-row>
    <el-row v-if="isAdmin">
      <el-col :span="12" style="padding-right: 25px;border-right: 1px solid #ddd;">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">Crew List</span>
          <el-button v-if="!edit" type="primary" size="mini" style="margin-left: 12px;" @click="edit= !edit">Edit</el-button>
          <el-button v-if="edit" type="primary" size="mini" style="margin-left: 12px;" @click="dialogVisibleAddCrew= !dialogVisibleAddCrew">Add</el-button>
          <el-button v-if="edit" type="primary" size="mini" style="margin-left: 12px;" @click="edit= !edit">Done</el-button>
          <el-input
            v-model="search"
            style="width: 40%;float: right;"
            placeholder="Search Crew List"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />

        <el-row class="fixed-wrapper">
          <div class="wrapper" style="margin-top: 10px;">
            <span v-for="department in departments" :key="department.id">
              <h3 style="display: inline;line-height: 45px;">{{ department.name }}</h3>
              <template v-if="edit">
                <!--                <el-input v-model="department.name" style="width: fit-content;margin-top: 10px;" />-->
                <!--                <el-button class="filter-item" type="primary" size="mini" @click="edit = !edit">-->
                <!--                  Save-->
                <!--                </el-button>-->
                <el-button class="filter-item" type="primary" size="mini" style="margin-left: 12px;" @click="handleEditDepartment(department)">
                  Edit
                </el-button>
                <el-button class="filter-item" type="danger" size="mini" style="margin-left: 12px;" @click="handleDeleteDepartment(department)">
                  Delete
                </el-button>
                <el-button class="filter-item" type="primary" size="mini" @click="handleAddPosition(department)">
                  Add Position
                </el-button>
              </template>
              <div
                v-for="position in department.positions"
                :key="position.id"
                class="text item"
                :class="[
                  {
                    clicked: clickedColor && !edit && position.id===currentRow.id || position.id===currentRow },
                  {
                    // selected: position.persons.map(person => person.id).includes(activePerson)
                  }
                ]"
                @click="edit?currentRow=position:handleClick(position)"
              >
                <span style="margin-left: 10px;">
                  {{ position.name }}
                  <template v-if="position.persons.length>0">
                    <span v-if="position.persons[0].filled" style="margin-left: 5px;color: rgb(255,227,19);"> {{ position.persons[0]? '- '+position.persons[0].name : '' }}</span>
                    <span v-else style="margin-left: 5px;color: rgb(24, 144, 255);"> {{ position.persons[0]? '- '+position.persons[0].name : '' }}</span>
                  </template>

                </span>
                <div v-if="position.id===currentRow.id && edit" style="margin-top: -2px;display: inline-flex;margin-left: 11px;">
                  <el-button class="filter-item" type="primary" size="mini" @click="handleEditPosition(position)">
                    Edit
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" @click="handleDeletePosition(position)">
                    Delete
                  </el-button>
                </div>
                <!--                <div v-if="position.id===currentRow.id && !edit" style="float: right;margin-top: -2px;">-->
                <!--                  <el-button class="filter-item" type="primary" size="mini" @click="handleShowCrew()">-->
                <!--                    Start Crew-->
                <!--                  </el-button>-->
                <!--                  <el-button class="filter-item" style="margin-left: 10px;" type="primary" size="mini" @click="handleSendEmail(position.id)">-->
                <!--                    Contact-->
                <!--                  </el-button>-->
                <!--                </div>-->
              </div>
            </span>
          </div>
        </el-row>
      </el-col>
      <el-col :span="12" style="padding-left: 25px;">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">Contract</span>
          <el-button type="primary" size="mini" style="margin-left: 12px;">Send</el-button>
          <el-button type="primary" size="mini" style="margin-left: 12px;">Sign</el-button>
          <el-button type="primary" size="mini" style="margin-left: 5px;">Edit</el-button>
          <el-button type="primary" size="mini" style="margin-left: 5px;" @click="templateClicked = !templateClicked">Template</el-button>

          <!--          <el-input-->
          <!--            v-model="activePerson"-->
          <!--            style="width: 30%;float: right;"-->
          <!--            placeholder="Search Address Book"-->
          <!--          >-->
          <!--            <i slot="prefix" class="el-input__icon el-icon-search" />-->
          <!--          </el-input>-->
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-row v-if="!templateClicked">
          <!--                    {{activePerson}}-->
          <el-collapse v-for="person in persons" :key="person.id" v-model="activePerson" accordion @change="handleChangePerson(person)">
            <el-collapse-item v-if="activePerson==person.id" :name="person.id">
              <span slot="title" class="person-title-bg">
                {{ person.name }}
                <!--                {{currentRow.persons.map(person1 => person1.id===person.id)}}-->
                <!--                {{currentRow.persons}}-->
                <!--                <span v-else-if="currentRow.persons.map(p => p.id===person.id).includes(true)" style="margin-left: 20px;">-->
                <!--                  <el-button v-if="!select" class="filter-item" type="primary" size="mini" @click="select= !select">-->
                <!--                    Select-->
                <!--                  </el-button>-->
                <!--                  <el-button v-if="select" class="filter-item" type="danger" size="mini" @click="select= !select">-->
                <!--                    UnSelect-->
                <!--                  </el-button>-->
                <!--                </span>-->
              </span>
              <div style="text-align: right;">
                <span v-if="edit" style="margin-left: 20px;">
                  <!--                  <el-button v-if="!watchSelect" class="filter-item" type="primary" size="mini" @click="assignPosition(person)">-->
                  <!--                    Select-->
                  <!--                  </el-button>-->
                  <!--                  <el-button v-if="watchSelect" class="filter-item" type="danger" size="mini" @click="removePosition(person)">-->
                  <!--                    UnSelect-->
                  <!--                  </el-button>-->
                  <el-button class="filter-item" type="primary" size="mini">
                    Edit
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini">
                    Delete
                  </el-button>
                  <!--                  {{currentRow.persons.map(p => p.id===person.id)}}-->
                  <!--                  watchSelect = {{watchSelect}}-->
                </span>
                <span v-if="!edit && !editPerson" style="margin-left: 20px;">
                  <!--                  <el-button v-if="!watchSelect" class="filter-item" type="primary" size="mini" @click="assignPosition(person)">-->
                  <!--                    Select-->
                  <!--                  </el-button>-->
                  <!--                  <el-button v-if="watchSelect" class="filter-item" type="danger" size="mini" @click="removePosition(person)">-->
                  <!--                    UnSelect-->
                  <!--                  </el-button>-->
                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="assignPosition(person)">
                    Select
                  </el-button>
                  <el-button v-if="(currentRow.persons.map(p => p.id===person.id).includes(true) && ppID !== person.id) || pID === person.id" class="filter-item" type="danger" size="mini" @click="removePosition(person)">
                    UnSelect
                  </el-button>
                  <!--                  {{currentRow.persons.map(p => p.id===person.id)}}-->
                  <!--                  watchSelect = {{watchSelect}}-->
                </span>
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditPerson(person)">
                    Edit
                  </el-button>
                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id) || ppID ===person.id" class="filter-item" type="danger" size="mini" @click="handleDeletePerson(person)">
                    Delete
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.experience }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditExperience(person)">
                    Edit
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.imob }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditIMDB(person)">
                    Edit
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.email }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditEmail(person)">
                    Edit
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.phone }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditPhone(person)">
                    Edit
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.skype }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditSkype(person)">
                    Edit
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.facebook }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditFacebook(person)">
                    Edit
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">{{ person.twitter }}
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id ) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="handleEditTwitter(person)">
                    Edit
                  </el-button>
                </span>
              </div>
            </el-collapse-item>
          </el-collapse>
        </el-row>

        <el-row v-if="templateClicked && clickedColor" style="margin-top: 20px;background-color: #fff;color: #000;" :gutter="20">
          <el-col :span="16" :offset="4">
            <h4>
              TEMPORARY EMPLOYMENT AGREEMENT FOR THE PROJECT {{ temp.xxx }} – CREW -
              UNION TERMS
            </h4>
          </el-col>
          <el-col :span="16" :offset="4">
            <p>
              This agreement (the “Agreement”) is entered into on 26
              th February 2019 between Truenorth Norway AS,
              company registration no. 916 562 128 (the “Company”) and <strong>{{ currentRow.persons[0]? currentRow.persons[0].name : '' }}</strong><strong>{{ temp.FDSELSNUMMER }}</strong>, (the “Employee”),
              hereafter collectively referred to as the parties (the “Parties”).
            </p>
            <p>
              <span><strong>1 EMPLOYMENT </strong></span> <br>
              The Employee is temporary employed as  <strong>{{ currentRow.name }}</strong> in the Company from <strong>{{ temp.date }}</strong>. The Employee is employed to
              participate in the production of the film with the working title <strong>{{ temp.company }}</strong> (the “Film”). The seniority of the Employee is
              10+ years.
              <br> <br>
              The employment terminates without further notice on <strong>{{ temp.date }}</strong>, or when the project is completed. The Parties can in
              writing agree to prolong the temporary employment.
              <br> <br>
              The Agreement is entered into pursuant to the Norwegian Working Environment Act ( “The Act”) § 14-9 (1) A and
              the agreement between the Company and the Norwegian Film Association regarding applying certain regulations
              of the collective tariff agreement between the Norwegian Film Association and Virke Produsentforeningen on
              engagement in film projects (the “Tariff”).
              <br> <br>
              The Employee is employed in a full time position. The Employee shall report to Tord Moberg and Stephen Bohan,
              Supervising Carpenter and construction manager.
            </p>
            <p>
              <span><strong> 2 PLACE OF WORK </strong></span> <br>
              The Employee’s workplace is currently at <strong>{{ temp.LOCATION }}</strong>. The Employee acknowledges that the workplace may be
              changed by the Company at a later stage in the production.
              <br> <br>
              The Employee is obliged to carry out the duties that are or will be assigned to the Employee’s position and that
              fall naturally within the scope of the Employee’s position.
              <br> <br>
              The Company may, at any time and without compensation, make amendments to the duties to be performed by
              the Employee, and order the Employee to carry out other tasks (NO: “Arbeidsgivers styringsrett”) in accordance
              with applicable mandatory Norwegian employment legislation.
              <br> <br>
              The Company reserves its right to change the title of the Film. The Company gives no guarantee that the
              production of the Film will proceed to completion.
            </p>
            <p>
              <span><strong>3 WORKING HOURS  </strong></span> <br>
              The normal working week is 37,5 hours per week. The normal working week is Monday to Friday, 7,5 hours per
              day, exclusive of a lunch break of 30 minutes. Daily working hours will be presented to the Employee in
              accordance with section 5.2 of the Tariff.
              <br> <br>
              Work in excess of the normal working day is considered overtime. The Employee cannot work more than six
              hours overtime per day. During a five day week, the Employee cannot work more than a total amount of overtime
              of 20 hours, and the total amount of overtime cannot exceed 50 hours over a period of five consecutive weeks.
            </p>
            <p>
              <span><strong>4 SALARY AND OTHER REMUNERATION   </strong></span> <br>
              In consideration of the Employee’s work on the Film, the Employee will receive NOK <strong>{{ currentRow.persons[0]? currentRow.persons[0].experience : '' }}</strong>,- per day (the hourly
              rate being the daily rate divided with 7,5). The Employee is always entitled four hours of pay for attending. Any
              overtime work must be approved in advance by the Company. The Company reserves the right not to pay out
              unapproved overtime. The Company can require that any overtime hours be taken out as time off. The overtime
              compensation will be paid out according to the provisions in the Tariff. Salary and any overtime payments will be
              paid on the basis of submitted and certified timesheets which the Employee is required to submit to the production
              office once per week.
              <br> <br>
              Salary payments are made on the 3rd of each month.
            </p>
            <p>
              <span><strong>5 HOLIDAY AND HOLIDAY PAY  </strong></span> <br>
              Holiday and holiday pay is governed by the rules of the Norwegian Holiday Act and any applicable Company
              regulations. Any holidays must fit in with the Company’s needs. Accrued holiday pay will replace salary in the
              holiday period. Holiday pay does not include reimbursement of expenses, for example for car, board, lodging etc.
            </p>
            <h5></h5>
            <p>
              <span><strong>6 PENSION AND INSURANCE SCHEMES  </strong></span> <br>
              Subject to the Company’s mandatory coverage under applicable legislation, the Employee will be covered by the
              pension and insurance schemes offered by the Company at any given time. The Company may change and/or
              terminate such schemes at its own discretion, subject to any limitations laid down by statute. Upon the Company’s
              request, the Employee is obliged to provide correct information relating to any such insurance schemes.
            </p>

            <p>
              <span><strong>7 DEDUCTIONS   </strong></span> <br>
              Deductions from remuneration (e.g. from Employee’s salary or holiday payment) may be made as permitted by
              the Working Environment Act and the Tariff. Deductions may also be made for:
            </p>
            <ol type="a">
              <li>
                amounts paid to the Employee as an advance on salary;
              </li>
              <li>
                amounts received as an advance on travel or business expenses which are not ultimately incurred or
                approved and documented by receipt, e.g. unsettled production petty cash;
              </li>
              <li>
                defaults on instalments and interest terms that have been agreed upon in writing for loans granted by the
                Company to the Employee;
              </li>
              <li>
                outstanding debts at the date of the termination of employment, unless a specific repayment agreement
                has been entered into and adequate security provided;
              </li>
              <li>
                parking tickets issued to cars made available to the Employee as part of the production, unless the
                Company has appointed the parking. The Employee is responsible for any parking tickets due to private
                use of such vehicle, given that private use is permitted. The Employee must pay any parking tickets in
                due time;
              </li>
            </ol>

            <p>
              <span><strong>8 EXPENSES  </strong></span> <br>
              <span><strong>8.1 Expenses on behalf of the Company </strong></span> <br>
              The Employee may not, without prior Company consent, charge any expenses or costs to the Company. All
              expenses and costs beyond the use of production petty cash must be approved in writing. Production petty cash
              must be settled weekly. Final settlement of production petty cash must be completed before final payroll when the
              Employee leaves the Company.
            </p>

            <p>
              <span><strong>8.2 Other expenses  </strong></span> <br>
              Payments relating to reimbursement of pre-approved expenses for use of private car, hotel, meals and the like will
              be reimbursed, provided that the Employee submits necessary documentation for the expenses. Any travel that is
              required in order for the Employee to render his/her services on the Film will be regulated by the standard at all
              times applicable per diems rules in Norway. The Company will only cover reasonable business and travel
              expenses incurred by the Employee wholly and exclusively in connection with the Employee’s position, provided
              that the Employee submits necessary documentation for the expenses and that all such expenses are preapproved in writing.
            </p>

            <p>
              <span><strong>8.3 Personal responsibility  </strong></span> <br>
              The Employee is personally responsible for traffic fines, speeding tickets, parking fines, extra fees for toll roads
              etc. The Employee is personally responsible for damages to the Employee’s rental car. The Employee can be
              held personally liable for the insurance deductible if it can be shown that the Employee has shown gross
              negligence.
            </p>

            <p>
              <span><strong>9 ILLNESS AND LEAVE  </strong></span> <br>
              If the Employee is prevented from meeting at work, the Employee shall inform the Company without undue delay
              and shall submit a doctor’s certificate or other documentation as required. In case of illness, the Employee may
              be entitled to payment in accordance with applicable rules pursuant to the National Insurance Act. If the
              Employee fails to notify the Company of the illness and this leads to additional expense for the Company, the
              Company has the right to deduct such expenses from the Employee´s salary.
            </p>
            <h5></h5>
            <p>
              <span><strong>10 OTHER EMPLOYMENT ETC.  </strong></span> <br>
              The Employee shall place his entire working capacity at the disposal of the Company. The Employee may not,
              without the Company’s written consent, hold directorships, exercise or take part in businesses, take employment
              in or otherwise take part in other businesses, paid or unpaid. Company consent cannot be denied without fair
              reason.
            </p>
            <p>
              <span><strong>11 INTELLECTUAL PROPERTY  </strong></span> <br>
              The Employee grants and assigns to the Company all the exclusive rights, hereunder copyrights, trademarks
              rights, designs rights and other related rights and materials, including, but not limited to ideas, concepts, formants
              and elements of the foregoing (collectively the “Rights”), in all of the results and proceeds in connection with the
              Employee’s participation in the production of the Film.
              <br>
              The Company has, the sole and perpetual right to exploit any and all of the Rights, without geographical
              limitations, including any and all rights to reproduction and right to communication to the public (including, without
              limitation linear, time-shifted and non-linear rights), on any and all media now known or hereafter developed, on
              platforms and distribution methods in every language (including dubbed and/or synchronized) or sub-titled. The
              foregoing rights include, but are not limited to derivative rights of any kind such as formats, remake, sequel,
              spinoff products and merchandise, the right to register trademarks, domain names, formats, designs etc.
              <br> <br>
              The Company has the right to exploit the Rights, the right to license part or all of the Rights and the right to
              transfer such Rights to third parties
              <br> <br>
              The Employee’s remedies for any breach of the Agreement are limited to money damages, if any, and under no
              circumstances shall the Employee be entitled to enjoin, restrain or in any way interfere with the use or exploitation
              of the Film or Company’s use of the Rights under the Agreement.
              <br> <br>
              In the event the Company decides to create a “behind the scenes”- production the Employee accepts and agrees
              that the Company can use any footage and material where the Consultant appears and that the Company can
              use the name and likeness of the Employee without any restrictions and without any additional payment being
              made to the Employee from the Company or any third parties exploiting such material.
              <br> <br>
              For members of NFF with management contract with NFF/F©R, the governing agreement regulating to rights on
              this production is regulated in a separate agreement between NFF/F©R and the Company.
              <br> <br>
              If the Employee creates any copyright during the course of the Employment, the Employee will be credited in
              accordance with the Norwegian Copyright Act section 3. Unless otherwise agreed, the Employee will be credited
              in the following manner: <strong>{{ currentRow.name }}</strong> in accordance with industry standard.
            </p>
            <h5></h5>
            <p>
              <span><strong>12 LOSS AND REMEDIES </strong></span> <br>
              The Company shall not be under any liability in respect of
            </p>
            <ol type="a">
              <li>
                any claim for loss of publicity or opportunity to enhance the Employee’s reputation even if the Company
                delays or abandons production or exploitation of the Film or the use of the Employee’s services
                notwithstanding that the Company may have advertised the same; or
              </li>
              <li>
                any loss or damage to the Employee’s property whilst in transit to or whilst at places where the
                Employee renders services under this contract except to such extent, if at all, as the Company may be
                able to enforce a claim for indemnity against a third party or under any policy of insurance effected by
                the Company; or
              </li>
              <li>
                for the Employee’s death or any personal injury or ailment arising out of or in the course of the
                Employee’s engagement hereunder except to such extent, if at all, as the same was due to the
                Company’s negligence.
              </li>
            </ol>
            <p>
              The Rights shall be irrevocable under all circumstances and shall not be subject to reversion, rescission,
              injunction or other equitable relief in the case of any breach of the Agreement by the Company.
            </p>
            <p>
              The Employee acknowledges that any application to enjoin or restrain the development, production, distribution,
              advertising, publicity, or exploitation of the Film or any of the allied and ancillary rights connected with the Film
              would be excessively disruptive and unreasonably damaging to the Film and to the Company’s and third parties’
              interests therein and the Employee agrees not to apply for such relief and accept that the recovery of damages in
              an action at law will provide a full and appropriate remedy for any loss or damage incurred by you as a result of
              any breach of the Agreement.
            </p>
            <h5></h5>
            <p>
              <span><strong>13 CONFIDENTIALITY </strong></span> <br>
              The Employee is obligated, both during the period of employment and after termination of the employment,
              irrespectively of how the employment ceases, to observe complete confidentiality in relation to third parties about
              any trade secrets or sensitive information relating to the Company or their business partners and competitors.
              This professional secrecy also covers other operating and business conditions, such as contracts, customer
              relationships, budgets, performance, plans, products, development, regarding producers, cooperating companies
              and customers. “Third parties” also include other employees of the Company who do not rely on such information
              in the performance of their work. The Employee is obligated to exercise the utmost caution in dealing with plans,
              calculations, descriptions, contracts or correspondence. If the Employee is in any doubt regarding the extent of
              the obligations under this section of the Agreement, the Employee shall always consult the management of the
              Company. Any media enquiries shall be referred to the Producer. The Employee is not prevented from disclosing
              the Agreement to the Norwegian Film Association or the elected crew representative.
              <br> <br>
              The Employee shall not talk about the Film with any other person or entity, including press and promotional
              partners, without the Company's prior written approval. The Employee shall not share photographs or written or
              oral accounts of his/her experiences on the Film in any media (including but not limited to Facebook, Twitter, and
              other online, radio, TV or print outlets) without the Company's prior written approval
            </p>

            <p>
              <span><strong>14 ETHICAL GUIDELINES </strong></span> <br>
              The Employee shall refrain from receiving gifts, services with discounts or similar of considerable value from the
              Company’s customers or business relations without consent from the Company. The Company can establish
              ethical guidelines that the Employee is obliged to adhere to.
            </p>
            <p>
              <span><strong>15 COMPANY NON-HARASSMENT POLICY</strong></span> <br>
              The Company expects everyone involved in the Production to be treated fairly and with respect. The Company
              will not tolerate harassment or bullying of any kind, neither from employees, contractors, clients or others. If the
              Employee experience harassment, bullying or are aware of anyone else experiencing such treatment, the
              Company encourages the Employee to notify the Company without undue delay. In the event of such
              notifications, the contact is the Producer, the Employee’s personal contact or any other person within the
              Company that the Employee finds it natural to notify. Anonymous notifications will also be processed.
            </p>
            <h5></h5>
            <p>
              <span><strong>16 INTERNAL COMPANY SYSTEMS</strong></span> <br>
              The Company’s electronic e-mail system, internet subscription and all other data systems are the exclusive
              property of the Company and shall as far as possible be used by the Employee solely in connection with the
              Employee’s work for the Company. The Employee is aware that the Company has complete access to all material
              and email correspondence and an overview of internet usage that is saved in or performed via the Company’s
              data system. Any examination performed by the Company shall be in accordance with the Norwegian Personal
              Data Act as applicable at any time.
            </p>
            <h5></h5>
            <p>
              <span><strong>17 PERSONAL DATA</strong></span> <br>
              For the purpose of the Agreement and to comply with lawful obligations concerning the Production and the
              services, the Company must process the Employee’s personal data, including inter alia sensitive personal data.
              General personal data may include but is not limited to, personal details, contact information, education and work
              experience. Sensitive personal data may include but is not limited to, information about health, membership in
              trade unions, offences and alleged offences, as defined in EU’s General Data Protection Regulation (GDPR) of
              2018 art. 9 and 10.
              <br> <br>
              Personal data is primarily collected directly from the Employee but may also stem from references or other third
              parties when needed. The reasons for processing personal data may include but is not limited to, HR- and
              administrative purposes, for production, distribution, and marketing, transfer to third parties in and outside the
              EU/EEA-area for processing for the same purposes, and potentially also concerning due diligence-situations,
              restructuring and as part of legal processes. The Company will act in compliance with applicable laws and
              regulations governing the protection of personal data, such as GDPR.
              <br> <br>
              Further information about the Company’s processing of personal data may be obtained by contacting; Per Henry
              Borch ph@truenorht.is.
            </p>

            <p>
              <span><strong>18 PROBATIONARY PERIOD</strong></span> <br>
              The probationary period shall be 6 months. During the probationary period, either Company or Employee may
              terminate Employee’s employment with Company by 14 days advance, written notice. The period of notice shall
              be calculated from the date on which such notice is given.
              <br> <br>
              If the Employee has been absent from work during the probationary period, the Company may extend the agreed
              probationary period by a period corresponding to the duration of such absence. The Company shall in such a
              case inform the Employee in writing of such an extension prior to the expiry of the probationary period. The
              probationary period shall not be extended on the basis of any absence caused by circumstances on the part of
              the Company.
            </p>
            <p>
              <span><strong>19 TERMINATION OF EMPLOYMENT</strong></span> <br>
              The employment is temporary, and expires without dismissal <strong>{{ temp.date }}</strong>, or when the Film is completed.
              After the trial period a mutual notice period of 6 month shall apply for termination during the contract period. The
              notice period shall be calculated from the first day of the calendar month immediately following the month in which
              notice was given.
              <br> <br>
              At the end of employment, regardless of the cause, the Employee shall return all property and equipment, such
              as, but not limited to photographs, books, plans, drawings, sketches, papers, files, keys access cards, hardware,
              software and any other effects belonging to the Company, which are then in the Employee’s possession or under
              the Employee’s control. This also applies to documents, electronically saved information etc. as described above,
              regardless of the location of the information and the form in which it is saved/stored.
              <br> <br>
              If the production is permanently terminated, and this is not due to force majeure as defined in section 14 of the
              Tariff, the Employee is entitled to a payment of 1/3 of the remuneration which was agreed with the Employee for
              the remaining part of the Agreement unless otherwise set out in the Tariff.
              <br> <br>
              If the Employee commits a material breach of the Agreement the Company can terminate the Employment in
              accordance with the Tariff and applicable regulations of the Norwegian Employment Act. The Parties agree that
              material breach shall include, but not be limited to absence from work without justifiable reason (illness which is
              provided notice to the Company) which interrupts, delays or leads to increased costs for the Company, or
              neglecting to follow instructions regarding the execution of the Employee´s work.
            </p>

            <p>
              <span><strong>20 INTERRUPTIONS AND DELAYS</strong></span> <br>
              If the Film is interrupted or delayed, and this is not due to force majeure as defined in section 14 of the Tariff, the
              Employee is entitled to a payment of 1/3 of the remuneration of the period of the interruption/delay unless
              otherwise set out in the Tariff.
            </p>
            <p>
              <span><strong>21 NOTICES</strong></span> <br>
              The Employee shall give notice to the Company immediately after becoming aware over any situation which may
              cause the Employee to not being able to meet his or hers obligations under the Agreement. The Company shall
              notify the Employee of any termination, delay or interruption as soon as the Company is made aware of the
              situation which causes the delay/interruption/termination.
            </p>
            <p>
              <span><strong>22 NO PARTNERSHIP/JOINT VENTURE</strong></span> <br>
              Nothing contained in this contract shall be deemed to constitute or create a partnership or joint venture between
              the Parties and neither party shall hold itself out as the agent of the other.
            </p>
            <p>
              <span><strong>23 ASSIGNMENT TO THIRD PARTIES</strong></span> <br>
              The Company is entitled to assign this contract to any third party. This contract is personal for Employee, and the
              Employee shall therefore not be entitled to assign, license or sub-contract his/her obligations under the
              Agreement.
            </p>
            <p>
              <span><strong>24 NO WAIVER</strong></span> <br>
              No waiver by the Parties of any failure by them to perform any covenant or condition of this contract shall be
              deemed to be a waiver of any preceding or succeeding breach of any covenant or condition of this contract.
            </p>
            <p>
              <span><strong>25 ENTIRE AGREEMENT - TARIFF</strong></span> <br>
              This contract represents the entire agreement between the Parties in respect of its subject matter and replaces
              any previous agreement(s) relating to the subject matter and may be varied only in writing signed by the Parties.
              The Tariff is applicable for matters not regulated in the Agreement.
            </p>
            <p>
              <span><strong>26 GOVERNING LAW AND JURISDICTION</strong></span> <br>
              The Agreement and any settlement or transaction in relation thereto shall be governed by the laws of Norway.
              The Parties shall seek to resolve any dispute regarding the interpretation of clauses of the Agreement primarily
              through negotiations either between the Employee and the elected/union representative. If the negotiations are
              not successful, the dispute shall be tried resolved in a selection of a representative from the Norwegian Film
              Association and the Producer´s Association. The two representatives can appoint an umpire and if the dispute is
              not resolved, each party may request the dispute to be settled before the courts of Oslo.
              <br> <br>
              Notwithstanding the foregoing and to the extent permitted by law, nothing in the Agreement will be deemed as
              preventing Company from seeking injunctive relief (or any other provisional remedy) from any court in any territory
              having jurisdiction over the Employee, the subject matter of the dispute or any other effect arising from any
              breach of the Agreement as is necessary to protect the Company’s interests of any kind.</p>
            <p style="text-align: center">***</p>
            <p>
              The Agreement has been executed in two original copies – of which each party has received one copy.
            </p>
            <h5> <strong>{{ temp.date }}</strong> </h5>
            <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="8"><div class="grid-content bg-purple">
                <p style="text-align:justified">On behalf of the Company:
                </p>
                <br> <br> <br>
                <hr>
                <strong>{{ temp.company }}</strong>
              </div></el-col>
              <el-col :span="1"><div class="grid-content bg-purple-light">
              </div>
              </el-col>
              <el-col :span="8"><div class="grid-content bg-purple-light" style="margin-bottom: 56px;">
                <p>
                  Employee:</p>
                <br> <br> <br>
                <hr>
                <strong>{{ currentRow.persons[0]? currentRow.persons[0].name : '' }}</strong>
              </div>
              </el-col>
              <el-col :span="7"><div class="grid-content bg-purple-light">

              </div>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-dialog
      title="New Crew"
      :visible.sync="dialogVisible"
      width="50%"
    >
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Crew Start Form</h3>
        </el-col>
        <el-col :span="18" :offset="6">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
        </el-col>
        <el-col :span="16">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
        </el-col>
        <el-col :span="16">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Send Crew Form</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Position"
      :visible.sync="dialogVisibleAddPosition"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="form.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleAddPosition = false">Cancel</el-button>
        <el-button type="primary" @click="addPosition()">Add Position</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Position"
      :visible.sync="dialogVisibleEditPosition"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditPosition = false">Cancel</el-button>
        <el-button type="primary" @click="updatePosition()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Person"
      :visible.sync="dialogVisibleEditPerson"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditPerson = false">Cancel</el-button>
        <el-button type="primary" @click="updatePerson()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Crew List"
      :visible.sync="dialogVisibleAddCrew"
      width="40%"
    >

      <el-form ref="form" :model="form" label-width="30%">
        <el-form-item label="Department Name">
          <el-input v-model="form.depName" />
        </el-form-item>
        <el-form-item label="Position Name">
          <el-input v-model="form.posName" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleAddCrew = false">Cancel</el-button>
        <el-button type="primary" @click="addCrew()">Add Crew</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Person List"
      :visible.sync="dialogVisibleAddPerson"
      width="40%"
    >
      <el-form ref="form" :model="temp" label-width="30%">
        <el-form-item label="Name">
          <el-input v-model="temp.name" />
        </el-form-item>
        <el-form-item label="Experience">
          <el-input v-model="temp.experience" />
        </el-form-item>
        <el-form-item label="imob">
          <el-input v-model="temp.imob" />
        </el-form-item>
        <el-form-item label="Email">
          <el-input v-model="temp.email" />
        </el-form-item>
        <el-form-item label="Phone">
          <el-input v-model="temp.phone" />
        </el-form-item>
        <el-form-item label="Skype">
          <el-input v-model="temp.skype" />
        </el-form-item>
        <el-form-item label="Facebook">
          <el-input v-model="temp.facebook" />
        </el-form-item>
        <el-form-item label="Twitter">
          <el-input v-model="temp.twitter" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleAddPerson = false">Cancel</el-button>
        <el-button type="primary" @click="addPerson()">Add Person</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { fetchDepartments, fetchPersons, assignPosition, removePosition, addPosition, addCrew, editDepartment, editPosition, addPerson, deleteDepartment, deletePosition, editPerson, deletePerson } from '@/api/mainApi'
export default {
  data() {
    return {
      edit: false,
      isAdmin: false,
      editPerson: false,
      // watchSelect: false,
      clickedColor: false,
      positionClicked: false,
      pID: null,
      ppID: null,
      selectedColor: true,
      selected: false,
      select: true,
      dialogVisible: false,
      dialogVisibleEditDepartment: false,
      dialogVisibleEditPosition: false,
      dialogVisibleEditPerson: false,
      dialogVisibleEditExperience: false,
      dialogVisibleEditIMDB: false,
      dialogVisibleEditEmail: false,
      dialogVisibleEditPhone: false,
      dialogVisibleEditSkype: false,
      dialogVisibleEditFacebook: false,
      dialogVisibleEditTwitter: false,
      dialogVisibleAddPosition: false,
      dialogVisibleAddCrew: false,
      dialogVisibleAddPerson: false,
      currentRow: {
        persons: []
      },
      currentPerson: [],
      departments: null,
      tableKey: 0,
      search: null,
      checked: null,
      templateClicked: false,
      persons: null,
      value: '',
      activePerson: null,
      total: 0,
      temp: {
        xxx: 'Test project',
        company: 'Film It',
        FDSELSNUMMER: '',
        position: '',
        date: new Date().toLocaleDateString('en-US'),
        LOCATION: 'Einars vei 13, N-0575 Oslo',
        NOK_XXXX: ''
      },
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    const roles = this.roles.map(role => role.name)
    console.log('roles ' + roles)
    if (roles.includes('admin')) {
      this.isAdmin = true
    }
    this.getAllDepartment()
    this.getAllPersons()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleEditDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditDepartment = true
    },
    handleDeletePosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePosition(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeletePerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePerson(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeleteDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      if (confirm('Are You Want Delete ? ')) {
        deleteDepartment(this.temp.id).then(() => {
          this.getAllDepartment()
          this.getAllPersons()
          this.$notify({
            title: 'Deleted',
            message: 'Successfully Deleted',
            type: 'success',
            duration: 2000
          })
        })
      }
    },
    handleEditPosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPosition = true
    },
    handleEditPerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPerson = true
    },
    handleEditExperience(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditExperience = true
    },
    handleEditIMDB(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditIMDB = true
    },
    handleEditEmail(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditEmail = true
    },
    handleEditPhone(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPhone = true
    },
    handleEditSkype(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditSkype = true
    },
    handleEditFacebook(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditFacebook = true
    },
    handleEditTwitter(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditTwitter = true
    },
    handleAddPerson() {
      this.temp = {} // copy obj
      this.dialogVisibleAddPerson = true
    },
    handleAddPosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleAddPosition = true
    },
    handleShowCrew() {
      this.dialogVisible = true
    },
    handleSendEmail() {
      this.clickedColor = true
    },
    handleSelect(person) {
      this.activePerson = person.id
      this.select = !this.select
    },
    getAllDepartment() {
      this.listLoading = true
      this.select = true
      fetchDepartments().then(response => {
        this.departments = response.data.data

        this.watchSelect = !this.watchSelect
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    getAllPersons() {
      this.listLoading = true
      fetchPersons().then(response => {
        this.persons = response.data.data

        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleAssign(row) {
      this.temp = Object.assign({}, row) // copy obj
    },
    assignPosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      assignPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.pID = person.id
        this.ppID = null
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    addPosition() {
      // this.activePerson = person.id
      var data = '{"department_id":"' +
        this.temp.id + '",' +
        '"name":"' + this.form.name + '"}'
      addPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updateDepartment() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editDepartment(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditDepartment = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePosition() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editPosition(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePerson() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPerson = false
      })
    },
    updateExperience() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"experience":"' + this.temp.experience + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditExperience = false
      })
    },
    updateIMDB() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"imob":"' + this.temp.imob + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditIMDB = false
      })
    },
    updateEmail() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"email":"' + this.temp.email + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditEmail = false
      })
    },
    updatePhone() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"phone":"' + this.temp.phone + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPhone = false
      })
    },
    updateSkype() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"skype":"' + this.temp.skype + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditSkype = false
      })
    },
    updateFacebook() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"facebook":"' + this.temp.facebook + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditFacebook = false
      })
    },
    updateTwitter() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"twitter":"' + this.temp.twitter + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditTwitter = false
      })
    },
    addCrew() {
      // this.activePerson = person.id
      var data = '{"dep":"' +
        this.form.depName + '",' +
        '"pos":"' + this.form.posName + '"}'
      addCrew(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddCrew = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },

    addPerson() {
      var data = '{"name":"' +
        this.temp.name + '","experience":"' + this.temp.experience + '","imob":"' +
        this.temp.imob + '","email":"' + this.temp.email + '","phone":"' + this.temp.phone + '","skype":"' +
        this.temp.skype + '","facebook":"' + this.temp.facebook + '","twitter":"' +
        this.temp.twitter + '"}'
      addPerson(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddPerson = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    removePosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      removePosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Removed',
          type: 'success',
          duration: 2000
        })
        this.pID = null
        this.ppID = person.id
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    handleClick(row) {
      this.currentRow = row
      this.currentPerson = row.persons.map(person => person.id)
      this.value = row.id
      this.clickedColor = true
      this.templateClicked = false
      console.log('row ' + row.persons.map(person => person.id))
      this.activePerson = row.persons.map(person => person.id)
      this.selected = row.persons.map(person => this.activePerson.includes(person.id))
      // this.selected = row.persons.map(person => this.activePerson.includes(person.id))

      console.log('row.persons.map(person => this.activePerson.includes(person.id)) ' + row.persons.map(person => this.activePerson.includes(person.id)))
      console.log('this.activePerson ' + this.activePerson)
      if (row.persons.map(person => this.activePerson.includes(person.id))) {
        console.log('matched')
        // this.select = false
      } else {
        // console.log('row.persons.map(person => person.id).includes(this.activePerson) ' + row.persons.map(person => person.id).includes(this.activePerson))
        // console.log('this.activePerson ' + this.activePerson)
      }
    },
    handleCrePosition(val) {
      this.currentRow = val
      // this.value = val
      this.clickedColor = true
    },
    handleChangePerson(person) {
      person.show = true
      console.log('mode ' + person.show)
    },
    editDepartment(id) {
      this.departments.name = id.name
      this.departments.id = id.id
      console.log(this.departments.name)
      console.log(this.departments.id)
    }
  }
}
</script>

<style>
  .el-row {

  }
  h4 {
    text-align: justify;
  }
  li {
    text-align: justify;
  }
  h6 {
    text-align: justify;
  }
  p {
    text-align: justify;
  }
  li {
    text-align: justify;
  }
  ul {
    list-style-type: none;
  }
</style>
<style>
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-input--medium .el-input__inner {
    height: 32px;
    line-height: 36px;
    background: #212629;
    color: #fff;
  }
  .el-dialog__body {
    padding: 30px 20px;
    color: #ffffff;
    font-size: 14px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__header {
    height: 34px;
    line-height: 48px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
  }
  .el-collapse-item__header.is-active{
    background-color: #1e1e1f;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
