<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="24">
        <left>
          <el-button type="info" size="mini" @click="handleStaff()">STAFFING</el-button>
          <el-button type="info" size="mini" @click="handleRates()">RATES</el-button>
          <el-button type="info" size="mini" @click="handleContacts()">CONTRACTS</el-button>
          <el-button type="info" size="mini" @click="handlePayroll()">PAYROLL</el-button>
          <el-button type="info" size="mini" @click="handlePassword">PASSWORD</el-button>
        </left>
        <div class="flags">
          <img style="    width: 50px;" src="../../../assets/norway.png" alt="">
          <img style="    width: 50px;" src="../../../assets/british.png" alt="">
        </div>
        <div style="border-bottom: 2px solid #fff;margin-top: 10px;" />
      </el-col>
    </el-row>
    <el-row :gutter="20" style="    padding-top: 40px;">
      Page Content
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DashboardAdmin',
  data() {
    return {
      clickedColor: false,
      selectedColor: true,
      currentRow: null,
      KEY_CREATIVE_TEAM: [
        {
          id: 1,
          position: 'Producer'
        },
        {
          id: 2,
          position: 'Director'
        },
        {
          id: 3,
          position: 'Screenwriters'
        }
      ],
      PRODUCTION_DEPARTMENT: [
        {
          id: 4,
          position: 'Executive Producer'
        },
        {
          id: 5,
          position: 'Line Producer'
        },
        {
          id: 6,
          position: 'Production Manager'
        },
        {
          id: 7,
          position: 'Production Coordinator'
        },
        {
          id: 8,
          position: 'Production Secretary'
        },
        {
          id: 9,
          position: 'Production Accountant'
        }
      ],
      department3: [
        {
          id: 10
        },
        {
          id: 11
        },
        {
          id: 12
        },
        {
          id: 13
        }
      ],
      tableKey: 0,
      search: null,
      checked: null,
      options: [{
        value: 'Position 1.1',
        label: 'Position 1.1'
      }, {
        value: 'Position 1.2',
        label: 'Position 1.2'
      }, {
        value: 'Position 1.3',
        label: 'Position 1.3'
      }, {
        value: 'Position 1.4',
        label: 'Position 1.4'
      }, {
        value: 'Position 2.1',
        label: 'Position 2.1'
      }, {
        value: 'Position 2.2',
        label: 'Position 2.2'
      }, {
        value: 'Position 2.3',
        label: 'Position 2.3'
      }],
      persons: [
        {
          id: 1,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' skype',
          facebook: 'facebook ',
          twitter: ' twitter',
          name: 'Kkyalg Molvar'
        },
        {
          id: 2,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Francis Ford Copala'
        },
        {
          id: 3,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Steven'
        },
        {
          id: 4,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Spielber6'
        }
      ],
      value: '',
      activePerson: '',
      list: [
        {
          id: '01',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '02',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '03',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '04',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '05',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        }
      ],
      total: 0,
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    handleStaff() {
      // console.log('dfgsdgs')
      this.$router.push({ path: this.redirect || '/dashboard' })
    },
    handleRates() {
      this.$router.push({ path: this.redirect || '/rates' })
    },
    handleContacts() {
      this.$router.push({ path: this.redirect || '/contacts' })
    },
    handlePayroll() {
      this.$router.push({ path: this.redirect || '/payroll' })
    },
    handlePassword() {
      this.$router.push({ path: this.redirect || '/password' })
    },
    handleCrew() {
      this.showCrew = true
      this.showTable = false
    },
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleSendEmail() {
      this.clickedColor = true
    },
    handleClick(row) {
      this.currentRow = row
      this.clickedColor = true
      console.log('row' + row)
      this.activePerson = row
    },
    handletable() {
      this.showCrew = false
      this.showContact = false
      this.showTable = true
    }
  }
}
</script>
<style>
  .el-collapse-item__header {
    font-size: 20px;
  }
  .fixed-wrapper {
    overflow-y: auto;
    height: calc(100vh - 285px);
    margin-top: 0vw;
    padding-top: 0vw;
  }
  /*.fixed-top.el-row {*/
  /*  position: fixed;*/
  /*  width: 100%;*/
  /*  left: 0;*/
  /*  padding: 0px 46px;*/
  /*  z-index: 9;*/
  /*}*/
  .flags{
    float: right;
  }
  .text.item {
    padding: 15px 5px;
  }
  .border{
    border: 1px solid #fff;
  }
  .el-collapse {
    border-top: none;
    border-bottom: none;
  }
  .el-collapse-item__wrap {
    background-color: #3b3c3d;
  }
  .el-collapse-item__header {
    background-color: #3b3c3d;
    color: #ffffff;
    border-bottom: none;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  li.person {
    list-style: none;
    margin-bottom: 12px;
  }
  .selected{
    background: #64d9d6 !important;
    padding-top: 10px;
    border: 2px solid blue;
  }
  .clicked{
    background: rgba(27, 32, 36, 0.79);
    padding-top: 10px;
  }
  .el-card.is-always-shadow {
    box-shadow: none;
  }
  .el-card {
    border: none;
    background-color: #3b3c3d;
    color: #ffffff;
  }
  .el-card__header {
    border-bottom: none;
    font-size: 24px;
  }
  .box-card{
    margin-top: 20px;
  }
  .border-top{
    border-top: 3px solid #31B4E6;
    margin-top: 20px;
  }
  .border-bottom{
    border-bottom: 1px solid #dfe4ed;
    margin-top: 20px;
  }
  .el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
  }
  .right-side {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .el-form-item__label {
    font-size: 14px;
    color: #ffffff;
  }
  .el-table tr {
    background-color: #313131;
    color: #fff;
  }
  tr.hover-row{
    background-color: #313131;
    color: #fff;
  }
  .el-table tr:hover {
    background-color: #313131;
    color: #fff;
  }
  .el-table th {
    background-color: #171717;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
