<template>
  <div class="dashboard-editor-container">

    <el-tabs v-model="active" type="card" style="margin-top: 60px;">
      <el-tab-pane label="CREW START FORM" name="startCrew" />
      <el-tab-pane label="CONTRACTS" name="CONTRACTS" />
      <el-tab-pane label="TIMESHEET" name="TIMESHEET" />
      <el-tab-pane label="ARCHIVE" name="ARCHIVE" />
      <el-tab-pane label="CALL SHEET" name="CALL SHEET" />
      <el-tab-pane label="CALENDAR" name="CALENDAR" />
      <el-tab-pane label="PASSWORD" name="PASSWORD" />
    </el-tabs>
    <el-row>
      <el-col :span="24" style="padding-left: 25px;">
        <el-row>
          <el-form ref="form" label-position="left" :model="form" label-width="200px">
            <el-row :gutter="20" style="margin-top: 20px;">
              <el-col :span="12">
<!--                {{form.fname}}-->
                <el-form-item label="First Name">
                  <el-input v-model="form.fname" />
                </el-form-item>
                <el-form-item label="Last Name">
                  <el-input v-model="form.lname" />
                </el-form-item>
                <el-form-item label="Personal ID Number (SSN)">
                  <el-input v-model="form.ssn" />
                </el-form-item>
                <el-form-item label="Bank Account No">
                  <el-input v-model="form.bank_account_no"  />
                </el-form-item>
                <el-form-item label="Address">
                  <el-input v-model="form.address"  />
                </el-form-item>
                <el-form-item label="Email">
                  <el-input v-model="form.email"  />
                </el-form-item>
                <el-form-item style="margin-top: 20px;">
                  <el-button type="primary" @click="onSubmit">Accept</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-row>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { getInfo, saveForm } from '@/api/mainApi'
export default {
  data() {
    return {
      active: 'startCrew',
      person: {},
      form: {
        fname: null,
        lname: null,
        ssn: null,
        region: null,
        bank_account_no: null,
        address: null
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    this.getInformation()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    getInformation() {
      if (this.$route.params && this.$route.params.email) {
        this.person.email = this.$route.params.email
        this.person.password = this.$route.params.pass
        console.log(this.$route.params.email)
        getInfo(this.person.email).then(response => {
          setTimeout(() => {
            console.log('Response ' + response.data)
            this.form = response.data.data
          }, 1.5 * 1000)
        }).catch((err) => {
          console.log('Errors ' + err)
        })
      } else {
        console.log('Not called ')
        this.form = Object.assign({}, '')
      }
    },
    onSubmit() {
      saveForm(this.form).then(() => {
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
      })
    }
  }
}
</script>
<style scoped>
.el-input--mini .el-input__inner {
    height: 20px;
    font-size: 10px;
    color: white;
    background: #212629;
}
/*.el-form-item {*/
/*  margin-bottom: 0px !important;*/
/*  line-height: 12px;*/
/*}*/
/*.el-form-item__content {*/
/*    position: relative;*/
/*    font-size: 10px;*/
/*    height: 12px;*/
/*}*/
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-input--medium .el-input__inner {
    height: 32px;
    line-height: 36px;
    background: #212629;
    color: #fff;
  }
  .el-dialog__body {
    padding: 30px 20px;
    color: #ffffff;
    font-size: 14px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__header {
    height: 34px;
    line-height: 48px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
  }
  .el-collapse-item__header.is-active{
    background-color: #1e1e1f;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
