<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="10" style="padding-right: 25px;border-right: 1px solid #ddd;" element-loading-background="rgba(0, 0, 0, 0.8)">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">Crew List</span>
          <el-button v-if="!edit" type="primary" size="mini" style="margin-left: 12px;" @click="edit= !edit">Edit</el-button>
          <el-button type="primary" size="mini" style="margin-left: 12px;" @click="handleAddCrew">Add</el-button>
          <el-button v-if="edit" type="primary" size="mini" style="margin-left: 12px;" @click="edit= !edit">Done</el-button>
          <el-input
            v-model="search"
            style="width: 40%;float: right;"
            placeholder="Search Crew List"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <!--{{currentRow.id}}-->
        <!--        {{listLoading}}-->
<!--        {{(new Date().getTime() - endTime) / 1000}}-->
<!--        {{scrolledItem}}-->
<!--        {{clickedColor}}-->
        <el-row class="fixed-wrapper" id="scroller" ref="scroller">
          <div class="wrapper" style="margin-top: 10px;">
            <span v-for="department in departments" :key="department.id">
              <div
                id="singleDepartment"
                :class="[
                  {
                    clickedDep: edit && clickedDepColor && department.id===currentDepRow.id}
                ]"
                @click="handleDepClick(department)"
              >
                <h3 style="display: inline;line-height: 45px;font-size: 20px;font-weight: bold;">{{ department.name }}</h3>
                <template v-if="edit && clickedDepColor && department.id===currentDepRow.id">
                  <el-button class="filter-item" type="primary" size="mini" @click="handleAddCrew(department)">
                    Add
                  </el-button>
                  <el-button class="filter-item" type="primary" size="mini" style="margin-left: 12px;" @click="handleEditDepartment(department)">
                    Edit
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" style="margin-left: 12px;" @click="handleDeleteDepartment(department)">
                    Delete
                  </el-button>
                </template>
              </div>
              <div
                v-for="position in department.positions"
                id="singlePosition"
                ref="singlePosition"
                :key="position.id"
                class="text item"
                :class="[
                  {
                    clicked: clickedColor && position.id===currentRow.id || position.id===currentRow },
                  {
                    // selected: position.persons.map(person => person.id).includes(activePerson)
                  }
                ]"
                @click="handleClick(position,department)"
              >
                <span style="margin-left: 10px;">
                  {{ position.name }}
                  <template v-if="position.persons.length>0">
                    <span v-if="position.persons[0].filled" style="margin-left: 5px;color: rgb(255,227,19);"> {{ position.persons[0]? '- '+position.persons[0].name : '' }}</span>
                    <span v-else style="margin-left: 5px;color: rgb(24, 144, 255);"> {{ position.persons[0]? '- '+position.persons[0].name : '' }}</span>
                  </template>

                </span>
                <!--               {{dialogVisibleAddPosition}} {{dialogVisibleEditPosition}}-->
                <div v-if="position.id===currentRow.id && edit && ( !dialogVisibleAddPosition && !dialogVisibleEditPosition)" style="margin-top: -2px;display: inline-flex;margin-left: 11px;">
                  <el-button class="filter-item" type="primary" size="mini" @click="handleAddPosition(position,department.id)">
                    Add
                  </el-button>
                  <el-button class="filter-item" type="primary" size="mini" @click="handleEditPosition(position)">
                    Edit
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" @click="handleDeletePosition(position)">
                    Delete
                  </el-button>
                </div>
                <div v-if="position.id===currentRow.id && edit && dialogVisibleAddPosition" style="text-align: right;margin-top: 10px;margin-bottom: 10px;">
                  <el-input v-model="form.name" autofocus="true" size="mini" style="float: left;width: 40%" />
                  <el-button class="filter-item" type="primary" size="mini" @click="addPosition()">
                    Add Position
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" @click="dialogVisibleAddPosition = false">
                    Cancel
                  </el-button>
                </div>
                <div v-if="position.id===currentRow.id && edit && dialogVisibleEditPosition" style="text-align: right;margin-top: 10px;margin-bottom: 10px;">
                  <el-input v-model="temp.name" autofocus="true" size="mini" style="float: left;width: 40%" />
                  <el-button class="filter-item" type="primary" size="mini" @click="updatePosition()">
                    Save
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" @click="dialogVisibleEditPosition = false">
                    Cancel
                  </el-button>
                </div>
                <!--<div v-if="position.id===currentRow.id && !edit" style="float: right;margin-top: -2px;">-->
                <!--<el-button class="filter-item" type="primary" size="mini" @click="handleShowCrew()">-->
                <!--Start Crew-->
                <!--</el-button>-->
                <!--<el-button class="filter-item" style="margin-left: 10px;" type="primary" size="mini" @click="handleSendEmail(position.id)">-->
                <!--Contact-->
                <!--</el-button>-->
                <!--</div>-->
              </div>
            </span>
          </div>
        </el-row>
      </el-col>
      <el-col :span="14" style="padding-left: 25px;">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">Address Book</span>
          <!--{{editPerson}}-->
          <!--<el-button type="primary" size="mini" style="margin-left: 10px;" @click="handleAddPerson()">Add</el-button>-->
          <el-button v-if="!editPerson" type="primary" size="mini" style="margin-left: 12px;" @click="editPerson= true">Edit</el-button>
          <el-button v-if="editPerson" type="primary" size="mini" style="margin-left: 5px;" @click="handleAddPerson()">Add</el-button>
          <el-button v-if="editPerson" type="primary" size="mini" style="margin-left: 12px;" @click="handleImportCsv">Import</el-button>
          <el-button v-if="editPerson" type="primary" size="mini" style="margin-left: 5px;" @click="editPerson= !editPerson">Done</el-button>
          <el-select v-model="value" placeholder="All" style="width: 25%;margin-left: 20px;" @change="handleCrePosition(value)">
            <el-option-group
              v-for="group in departments"
              :key="group.id"
              :label="group.name"
            >
              <el-option
                v-for="item in group.positions"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-option-group>
          </el-select>
          <i class="el-icon-refresh" @click="getAllPersons" />
          <el-select v-model="temp.activePerson" multiple clearable filterable placeholder="Search Address Book" style="width: 30%;float: right;">
            <el-option
              v-for="item in persons"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
          <!--          <el-input-->
          <!--            v-model="activePerson"-->
          <!--            style="width: 30%;float: right;"-->
          <!--            placeholder="Search Address Book"-->
          <!--          >-->
          <!--            <i slot="prefix" class="el-input__icon el-icon-search" />-->
          <!--          </el-input>-->
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-row>
          <!--{{currentRow}}-->
          <!--          {{activePerson}}-->
          <!--{{temp.active}}-->
          <span v-if="dialogVisibleAddPerson && editPerson">
            <div class="form-header">
              <el-button type="primary" size="mini" @click="addPerson()">Add Person</el-button>
              <el-button type="danger" size="mini" @click="dialogVisibleAddPerson = false">Cancel</el-button>
            </div>

            <el-form ref="dataForm" label-position="left" :rules="rules" :model="temp" style="margin-top: 20px;">
              <div class="inline-item">
                <el-form-item label="First Name" label-width="140px" class="left" prop="fname">
                  <el-input v-model="temp.fname" />
                </el-form-item>
                <el-form-item label="Last Name" label-width="100px" class="right">
                  <el-input v-model="temp.lname" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="Crew Position" label-width="140px">
                  <el-select
                    v-model="positions"
                    multiple
                    clearable
                    filterable
                    style="width: 100%"
                    placeholder="Select Position"
                  >
                    <el-option-group
                      v-for="group in departments"
                      :key="group.id"
                      :label="group.name"
                    >
                      <el-option
                        v-for="item in group.positions"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      />
                    </el-option-group>
                  </el-select>
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-col span="16">
                  <el-form-item label="Year Experience" label-width="140px" class="left">
                    <el-col :span="4">
                      <el-form-item>
                        <el-input v-model="temp.experience" />
                      </el-form-item>
                    </el-col>
                    <el-col :span="10" style="margin-left: 10px;">
                      <el-form-item label="Rate" label-width="40px">
                        <el-input v-model="temp.rate" />
                      </el-form-item>
                    </el-col>
                    <el-col :span="6" style="margin-left: 10px; font-weight: 700">
                      NOK/Day
                    </el-col>
                  </el-form-item>
                </el-col>
                <el-col span="8">
                  <el-form-item label="Ranking" label-width="100px" class="right" prop="rank">
                    <el-select v-model="temp.rank" placeholder="Select Rank">
                      <el-option
                        v-for="item in ranks"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </div>
              <div class="inline-item">
                <el-col span="16">
                  <el-form-item label="Phone" label-width="140px" class="left">
                    <el-col class="line" :span="1" style="font-size: 22px;font-weight: bold">+</el-col>
                    <el-col :span="5" style="margin-right: 10px;">
                      <el-form-item prop="phone_code">
                        <el-input v-model="temp.phone_code" />
                      </el-form-item>
                    </el-col>
                    <!--                <el-col class="line" :span="1">-</el-col>-->
                    <el-col :span="9">
                      <el-form-item prop="phone">
                        <el-input v-model="temp.phone" />
                      </el-form-item>
                    </el-col>
                  </el-form-item>
                </el-col>
                <el-col span="8">
                  <el-form-item label="Email" label-width="100px" class="right" prop="email">
                    <el-input v-model="temp.email" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="inline-item">
                <el-form-item label="Street Address" label-width="140px" prop="address">
                  <el-input v-model="temp.address" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-col span="16">
                  <el-form-item label="Country Zip Code" label-width="140px" class="left">
                    <el-col :span="4">
                      <el-form-item>
                        <el-input v-model="temp.zipcode1" />
                      </el-form-item>
                    </el-col>
                    <el-col class="line" :span="2" style="text-align: center">-</el-col>
                    <el-col :span="8">
                      <el-form-item>
                        <el-input v-model="temp.zipcode2" />
                      </el-form-item>
                    </el-col>
                  </el-form-item>
                </el-col>
                <el-col span="8">
                  <el-form-item label="City" label-width="100px" class="right">
                    <el-input v-model="temp.city" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="inline-item">
                <el-form-item label="WWW" label-width="140px">
                  <el-input v-model="temp.www" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="IMDB" label-width="140px">
                  <el-input v-model="temp.imdb" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="Skype" label-width="140px">
                  <el-input v-model="temp.skype" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="Facebook" label-width="140px">
                  <el-input v-model="temp.facebook" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="Twitter" label-width="140px">
                  <el-input v-model="temp.twitter" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="Company" label-width="140px">
                  <el-input v-model="temp.company" />
                </el-form-item>
              </div>
              <div class="inline-item">
                <el-form-item label="Note" label-width="140px">
                  <el-input v-model="temp.note" />
                </el-form-item>
              </div>
            </el-form>
          </span>
<!--          {{persons}}-->
          <el-collapse v-for="person in persons" :key="person.id" v-model="activePerson" accordion @change="handleChangePerson(person)">
            <el-collapse-item :name="person.id">
              <span slot="title" class="person-title-bg">
                {{ person.name }}
              </span>
              <div style="text-align: right;">
                <span v-if="editPerson" style="margin-left: 20px;">

                  <el-button class="filter-item" type="primary" size="mini" @click="handleEditPerson(person)">
                    Edit
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" @click="handleDeletePerson(person)">
                    Delete
                  </el-button>
                </span>
                <span v-else style="margin-left: 20px;">
                  <el-button v-if="(!currentRow.persons.map(p => p.id===person.id).includes(true) && pID !== person.id) || ppID ===person.id" class="filter-item" type="primary" size="mini" @click="assignPosition(person)">
                    Select
                  </el-button>
                  <el-button v-if="(currentRow.persons.map(p => p.id===person.id).includes(true) && ppID !== person.id) || pID === person.id" class="filter-item" type="danger" size="mini" @click="removePosition(person)">
                    UnSelect
                  </el-button>
                </span>
              </div>
              <div style="margin-left: 40px;">
                <el-row>
                  <el-col :span="8">
                    <a :href="person.imdb" target="_blank">IMDB</a>
                  </el-col>
                  <el-col :span="8">
                    <a :href="person.www" target="_blank">WEB</a>
                  </el-col>
                  <el-col :span="8">
                    <a :href="person.facebook" target="_blank"><img src="../../../assets/fb.png" alt=""></a>
                    <a :href="person.twitter" target="_blank"><img src="../../../assets/twt.png" alt=""></a>
                  </el-col>
                </el-row>
              </div>
              <div style="margin-left: 30px;margin-bottom: 10px;">
                <template v-if="person.position_tags.length>0">
                  <span v-for="tags in person.position_tags" style="padding: 5px;">
                    <el-tag type="primary">{{ tags.name }}</el-tag>
                  </span>
                </template>
              </div>
              <div style="margin-left: 40px;">
                <el-row>
                  <el-col :span="8">
                    <p style="margin: 5px 0px;">{{ person.experience }} <span style="font-size: 14px;color: #CECFD0;">Years Experience</span></p>
                    <p style="margin: 5px 0px;"><span style="font-size: 14px;color: #CECFD0;">Email:</span> {{ person.email }}</p>
                    <p style="margin: 5px 0px;"><span style="font-size: 14px;color: #CECFD0;">Mobile:</span> {{ person.phone }}</p>
                    <p style="margin: 5px 0px;"><span style="font-size: 14px;color: #CECFD0;">Address:</span> {{ person.address }} {{ person.zipcode1 }}-{{ person.zipcode2 }} {{ person.city }}</p>
                  </el-col>
                  <el-col :span="8">
                    <p style="margin: 5px 0px;">{{ person.rate }} <span style="font-size: 14px;color: #CECFD0;">NOK/Day</span></p>
                    <p style="margin: 5px 0px;"><span style="font-size: 14px;color: #CECFD0;">Skype:</span> {{ person.skype }}</p>
                    <p style="margin: 5px 0px;"><span style="font-size: 14px;color: #CECFD0;">Work:</span> {{ person.phone }}</p>
                  </el-col>
                  <el-col :span="8">
                    <p style="margin: 5px 0px;">{{ person.rank }} <span style="font-size: 14px;color: #CECFD0;">- List</span></p>
                    <p style="margin: 5px 0px;" />
                    <p style="margin: 5px 0px;"><span style="font-size: 14px;color: #CECFD0;">Home:</span> {{ person.phone }}</p>
                  </el-col>
                </el-row>
              </div>
            </el-collapse-item>
          </el-collapse>
        </el-row>
      </el-col>
    </el-row>
    <el-dialog
      title="New Crew"
      :visible.sync="dialogVisible"
      width="50%"
    >
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Crew Start Form</h3>
        </el-col>
        <el-col :span="18" :offset="6">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
        </el-col>
        <el-col :span="16">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
        </el-col>
        <el-col :span="16">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Send Crew Form</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Position"
      :visible.sync="temp.dialogVisibleAddPosition"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <!--        {{temp}}-->
        <el-form-item label="Position name">
          <el-input v-model="form.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleAddPosition = false">Cancel</el-button>
        <el-button type="primary" @click="addPosition()">Add Position</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Position"
      :visible.sync="temp.dialogVisibleEditPosition"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleEditPosition = false">Cancel</el-button>
        <el-button type="primary" @click="updatePosition()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Person"
      :visible.sync="dialogVisibleEditPerson"
      width="60%"
    >
      <el-form ref="form" label-position="left" :rules="rules" :model="temp" style="margin-top: 20px;">
        <div class="inline-item">
          <el-form-item label="First Name" label-width="140px" class="left" prop="fname">
            <el-input v-model="temp.fname" />
          </el-form-item>
          <el-form-item label="Last Name" label-width="100px" class="right">
            <el-input v-model="temp.lname" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="Crew Position" label-width="140px">
            <el-select
              v-model="positions"
              multiple
              clearable
              filterable
              style="width: 100%"
              placeholder="Select Position"
            >
              <el-option-group
                v-for="group in departments"
                :key="group.id"
                :label="group.name"
              >
                <el-option
                  v-for="item in group.positions"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-option-group>
            </el-select>
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-col span="16">
            <el-form-item label="Year Experience" label-width="140px" class="left">
              <el-col :span="4">
                <el-form-item>
                  <el-input v-model="temp.experience" />
                </el-form-item>
              </el-col>
              <el-col :span="10" style="margin-left: 10px;">
                <el-form-item label="Rate" label-width="40px">
                  <el-input v-model="temp.rate" />
                </el-form-item>
              </el-col>
              <el-col :span="6" style="margin-left: 10px; font-weight: 700">
                NOK/Day
              </el-col>
            </el-form-item>
          </el-col>
          <el-col span="8">
            <el-form-item label="Ranking" label-width="100px" class="right" prop="rank">
              <el-select v-model="temp.rank" placeholder="Select Rank">
                <el-option
                  v-for="item in ranks"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </div>
        <div class="inline-item">
          <el-col span="16">
            <el-form-item label="Phone" label-width="140px" class="left">
              <el-col class="line" :span="1" style="font-size: 22px;font-weight: bold">+</el-col>
              <el-col :span="5" style="margin-right: 10px;">
                <el-form-item prop="phone_code">
                  <el-input v-model="temp.phone_code" />
                </el-form-item>
              </el-col>
              <!--                <el-col class="line" :span="1">-</el-col>-->
              <el-col :span="9">
                <el-form-item prop="phone">
                  <el-input v-model="temp.phone" />
                </el-form-item>
              </el-col>
            </el-form-item>
          </el-col>
          <el-col span="8">
            <el-form-item label="Email" label-width="100px" class="right" prop="email">
              <el-input v-model="temp.email" />
            </el-form-item>
          </el-col>
        </div>
        <div class="inline-item">
          <el-form-item label="Street Address" label-width="140px" prop="address">
            <el-input v-model="temp.address" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-col span="16">
            <el-form-item label="Country Zip Code" label-width="140px" class="left">
              <el-col :span="4">
                <el-form-item>
                  <el-input v-model="temp.zipcode1" />
                </el-form-item>
              </el-col>
              <el-col class="line" :span="2" style="text-align: center">-</el-col>
              <el-col :span="8">
                <el-form-item>
                  <el-input v-model="temp.zipcode2" />
                </el-form-item>
              </el-col>
            </el-form-item>
          </el-col>
          <el-col span="8">
            <el-form-item label="City" label-width="100px" class="right">
              <el-input v-model="temp.city" />
            </el-form-item>
          </el-col>
        </div>
        <div class="inline-item">
          <el-form-item label="WWW" label-width="140px">
            <el-input v-model="temp.www" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="IMDB" label-width="140px">
            <el-input v-model="temp.imdb" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="Skype" label-width="140px">
            <el-input v-model="temp.skype" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="Facebook" label-width="140px">
            <el-input v-model="temp.facebook" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="Twitter" label-width="140px">
            <el-input v-model="temp.twitter" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="Company" label-width="140px">
            <el-input v-model="temp.company" />
          </el-form-item>
        </div>
        <div class="inline-item">
          <el-form-item label="Note" label-width="140px">
            <el-input v-model="temp.note" />
          </el-form-item>
        </div>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleEditPerson = false">Cancel</el-button>
        <el-button type="primary" @click="updatePerson()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Department"
      :visible.sync="dialogVisibleEditDepartment"
      width="40%"
    >

      <el-form ref="form" :model="temp" label-width="160px">
        <el-form-item label="Department name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleEditDepartment = false">Cancel</el-button>
        <el-button type="primary" @click="updateDepartment()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Crew List"
      :visible.sync="dialogVisibleAddCrew"
      width="40%"
    >

      <el-form ref="form" :model="form" label-width="30%">
        <el-form-item label="Department Name">
          <el-input v-model="form.depName" />
        </el-form-item>
        <el-form-item label="Position Name">
          <el-input v-model="form.posName" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleAddCrew = false">Cancel</el-button>
        <el-button type="primary" @click="addCrew()">Add Crew</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Person List"
      :visible.sync="dialogVisibleEditEmail"
      width="40%"
    >
      <el-form ref="dataForm1" :rules="rules" :model="temp" label-width="30%">
        <el-form-item label="Name" prop="name">
          <el-input v-model="temp.name" />
        </el-form-item>
        <el-form-item label="Positions">
          <!--{{temp.positions}}-->
          <el-select
            v-model="positions"
            multiple
            clearable
            filterable
            style="width: 100%"
            placeholder="Select Position"
          >
            <el-option-group
              v-for="group in departments"
              :key="group.id"
              :label="group.name"
            >
              <el-option
                v-for="item in group.positions"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-option-group>
          </el-select>
        </el-form-item>
        <el-form-item label="Experience">
          <el-input v-model="temp.experience" />
        </el-form-item>
        <el-form-item label="IMDB">
          <el-input v-model="temp.imob" />
        </el-form-item>
        <el-form-item label="Email">
          <el-input v-model="temp.email" />
        </el-form-item>
        <el-form-item label="Phone">
          <el-input v-model="temp.phone" />
        </el-form-item>
        <el-form-item label="Skype">
          <el-input v-model="temp.skype" />
        </el-form-item>
        <el-form-item label="Facebook">
          <el-input v-model="temp.facebook" />
        </el-form-item>
        <el-form-item label="Twitter">
          <el-input v-model="temp.twitter" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleAddPerson = false">Cancel</el-button>
        <el-button type="primary" @click="addPerson()">Add Person</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="Import CSV"
      :visible.sync="dialogVisibleImport"
      width="40%"
    >
      <input id="file" ref="file" type="file" class="form-control" @change="onChangeFileUpload">
      <!--      <el-form ref="form" :model="temp" label-width="160px">-->
      <!--        {{file}}-->
      <!--        <el-form-item label="File">-->
      <!--          <el-input  id="file" ref="file" @change="onChangeFileUpload" type="file"/>-->
      <!--        </el-form-item>-->
      <!--      </el-form>-->
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleImport = false">Cancel</el-button>
        <el-button type="primary" @click="importCsv()">Import</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scroll-to'
import { importCsv, fetchDepartments, fetchPersons, assignPosition, removePosition, addPosition, addCrew, editDepartment, editPosition, addPerson, deleteDepartment, deletePosition, editPerson, deletePerson, filterPeopleByPosition } from '@/api/mainApi'
export default {
  data() {
    return {
      Index: 0,
      DepIndex: 0,
      startTime: 0,
      scrolledItem: 0,
      endTime: 0,
      selectedName: null,
      file: '',
      edit: false,
      editPerson: false,
      // watchSelect: false,
      clickedColor: false,
      clickedDepColor: false,
      positionClicked: false,
      pID: null,
      ppID: null,
      selectedColor: true,
      selected: false,
      select: true,
      dialogVisible: false,
      rules: {
        fname: [{ required: true, message: '_', trigger: 'blur' }],
        email: [{ required: true, message: '_', trigger: 'blur' }],
        phone_code: [{ required: true, message: '_', trigger: 'blur' }],
        phone: [{ required: true, message: '_', trigger: 'blur' }],
        barcode: [{ required: true, message: 'Barcode is required', trigger: 'blur' }]
      },
      dialogVisibleImport: false,
      dialogVisibleEditDepartment: false,
      dialogVisibleEditPosition: false,
      dialogVisibleEditPerson: false,
      dialogVisibleEditExperience: false,
      dialogVisibleEditIMDB: false,
      dialogVisibleEditEmail: false,
      dialogVisibleEditPhone: false,
      dialogVisibleEditSkype: false,
      dialogVisibleEditFacebook: false,
      dialogVisibleEditTwitter: false,
      dialogVisibleAddPosition: false,
      dialogVisibleAddCrew: false,
      dialogVisibleAddPerson: false,
      currentRow: {
        persons: [{}]
      },
      currentDepRow: null,
      currentPerson: [],
      positions: [],
      departments: null,
      tableKey: 0,
      search: null,
      checked: null,
      persons: null,
      value: null,
      activePerson: null,
      total: 0,
      temp: {
        name: null,
        positions: [],
        experience: null,
        imob: null,
        email: null,
        phone: null,
        skype: null,
        facebook: null,
        twitter: null
      },
      ranks: [
        {
          id: 1,
          name: 'A'
        },
        {
          id: 2,
          name: 'B'
        },
        {
          id: 3,
          name: 'C'
        },
        {
          id: 4,
          name: 'D'
        },
        {
          id: 5,
          name: 'E'
        },
        {
          id: 6,
          name: 'F'
        }
      ],
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      keyListener: {
        leftPressed: false,
        rightPressed: false,
        upPressed: false,
        downPressed: false
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    this.getAllDepartment()
    this.getAllPersons()
    this.addKeyHandler()
    // this.init()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    init() {
      let count = 0
      // console.log('this.departments.length ' + this.departments.length)
      for (let i = 0; i < this.departments.length; i++) {
        //
        // if (count == this.departments[i].positions.length - 1) {
        //   count++
        // }
        for (let j = 0; j < this.departments[i].positions.length; j++) {
          // console.log('j ' + j)
          //
          count++
          this.departments[i].positions[j].index = count + i
          // console.log('this.departments[i].positions[j] ' + this.departments[i].positions[j].index)
        }
      }
    },
    addKeyHandler(e) {
      window.addEventListener('keydown', this.keyHandler)
    },

    keyHandler(e) {
      /**
       38 - up
       40 - down
       9 - tab
       13 - enter
       */
      e.preventDefault()
      // if (this.startTime - this.endTime) {
      //
      // }

      const key = e.which || e.keyCode
      // console.log('(new Date().getTime() - this.endTime) / 1000) [ 1 ]' + (new Date().getTime() - this.endTime) / 1000)
      if (key === 38 || (e.shiftKey && key === 9)) {
        this.handleKeyUp(e)
      } else if (key === 37) {
        this.handleKeyLeft(e)
      } else if (key === 39) {
        this.handleKeyRight(e)
      } else if (key === 40 || key === 9) {
        this.handleKeyDown(e)
      } else if (key === 13) {
        this.handleEnter(e)
      } else if (key === 32) {
        this.handleSpace(e)
      }
      if (((new Date().getTime() - this.endTime) / 1000) > 0.15) {

      }
    },
    handleEnter(e) {
      // e.preventDefault();
      console.log('Enter Pressed')
    },
    handleSpace(e) {
      e.preventDefault()
      console.log('Space Pressed')
    },

    handleKeyUp1(e) {
      this.DepIndex = this.departments.indexOf(this.currentDepRow)
      console.log('DepIndex ' + this.DepIndex)
      console.log('current row position this.departments[0].positions.indexOf(this.currentRow) ' + this.departments[this.DepIndex].positions.indexOf(this.currentRow))
      this.Index = this.departments[this.DepIndex].positions.indexOf(this.currentRow)
      // console.log('current row position name ' + this.departments[0].positions[this.departments[0].positions.indexOf(this.currentRow)].name)
      // this.currentRow = this.departments.indexOf()
      if (this.Index <= 0) {
        // If index is less than or equal to zero then set it to the last item index
        // this.Index = this.items.length - 1;
        // this.selectedIndex = this.items[this.Index].id
      } else if (
        this.Index > 0 &&
        this.Index <= this.departments[this.DepIndex].positions.length - 1
      ) {
        // If index is larger than zero and smaller or equal to last index then decrement
        this.Index--
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]
      }
    },
    handleKeyUp(e) {
      if (this.currentDepRow === null) {
        this.currentDepRow = this.departments[0]
      }
      if (this.Index == 0 && this.DepIndex == 0) {
        console.log(' up =======')
        this.handleScroll(true)
        this.Index = 0
        this.DepIndex = 0
        this.currentDepRow = this.departments[0]
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]
        return
      }
      this.DepIndex = this.departments.indexOf(this.currentDepRow)
      // console.log('this.this.currentDepRowthis.currentDepRow '+ this.currentDepRow )
      this.Index = this.departments[this.DepIndex].positions.indexOf(this.currentRow)
      if (this.Index <= 0) {
        this.DepIndex--
        this.currentDepRow = this.departments[this.DepIndex]
        this.Index = this.departments[this.DepIndex].positions.length - 1
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]
        this.handlePositionPeople(this.currentRow)
      } else if (
        this.Index > 0 &&
        this.Index <= this.departments[this.DepIndex].positions.length - 1
      ) {
        this.Index--
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]
        this.handlePositionPeople(this.currentRow)

        this.handleScroll()
      }
    },
    handleKeyDown(e) {
      // e.preventDefault()
      // this.scrolledItem++
      if (this.currentDepRow === null) {
        this.currentDepRow = this.departments[0]
      }
      if (this.Index === this.departments[this.DepIndex].positions.length - 1 && this.DepIndex === this.departments.length - 1) {
        console.log(' Down =======')

        this.currentDepRow = this.departments[this.DepIndex]
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]
        return
      } else {
        this.DepIndex = this.departments.indexOf(this.currentDepRow)
        this.Index = this.departments[this.DepIndex].positions.indexOf(this.currentRow)
      }
      if (!this.clickedColor) {
        this.Index = 0
      }

      if (this.Index < 0 || this.Index === this.departments[this.DepIndex].positions.length - 1) {
        console.log('-------Moving Next Position ')

        this.DepIndex++
        this.currentDepRow = this.departments[this.DepIndex]
        this.Index = 0
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]
        this.handlePositionPeople(this.currentRow)
      } else if (this.Index >= 0 && this.Index < this.departments[this.DepIndex].positions.length - 1) {
        //

        this.Index++
        this.currentRow = this.departments[this.DepIndex].positions[this.Index]

        this.handlePositionPeople(this.currentRow)
        this.handleScroll()
      }
    },
    handleScroll(isTop) {
      const container = this.$el.querySelector('#scroller')
      const singlePosition = this.$el.querySelector('#singlePosition')
      if (isTop) {
        container.scrollTop = 0
      } else {
        container.scrollTop = singlePosition.scrollHeight * this.currentRow.index
      }
      this.startTime = this.endTime
      this.endTime = new Date().getTime()
      // container.scroll(0, singlePosition.scrollHeight * this.currentRow.index)
      // console.log('container.scrollPosition' + container.scrollPosition)
    },
    handleKeyLeft(e) {
      console.log('Left press ')
      this.keyListener.leftPressed = true
      if (!this.currentRow.id) {
        const row = this.departments[0].positions[0]
        this.$store.dispatch('extra/setPosition', row)
          .then(() => {
          })
          .catch(() => {
          })
        this.currentRow = row
        this.Index = this.departments[0].positions.indexOf(this.currentRow)
        this.persons = row.persons
        if (row.persons.length < 1) {
          console.log('row' + row.id)
          this.handleCrePosition(row.id)
          console.log('row.persons.length ' + row.persons.length)
        }
        this.currentPerson = row.persons.map(person => person.id)
        this.value = row.id
        this.clickedDepColor = false
        this.clickedColor = true
        this.activePerson = row.persons.map(person => person.id)
      }
    },
    handleKeyRight(e) {
      console.log('right press ')
      this.keyListener.rightPressed = true
      if (!this.activePerson) {
        this.activePerson = this.persons[0].id
      } else {
        this.activePerson = this.persons[0].id
      }
    },
    handlePositionPeople(row) {
      this.$store.dispatch('extra/setPosition', row)
        .then(() => {
        })
        .catch(() => {
        })
      this.persons = row.persons
      if (row.persons.length < 1) {
        this.persons = row.person_tags
        // this.handleCrePosition(row.id)
        // this.filterPeoplePosition(row.id)
      }
      this.currentPerson = row.persons.map(person => person.id)
      this.value = row.id
      this.clickedDepColor = false
      this.clickedColor = true
      this.activePerson = row.persons.map(person => person.id)
      if (((this.endTime - this.startTime) / 1000) > 0.5) {
      }
    },
    handlePositionPeople1(row) {
      this.$store.dispatch('extra/setPosition', row)
        .then(() => {
        })
        .catch(() => {
        })
      this.persons = row.persons
      if (row.persons.length < 1) {
        this.handleCrePosition(row.id)
      }
      this.currentPerson = row.persons.map(person => person.id)
      this.value = row.id
      this.clickedDepColor = false
      this.clickedColor = true
      this.activePerson = row.persons.map(person => person.id)
    },
    handleImportCsv() {
      this.dialogVisibleImport = true
    },
    onChangeFileUpload() {
      this.file = this.$refs.file.files[0]
    },
    importCsv() {
      const formData = new FormData()
      formData.append('file', this.file)
      this.listLoading = true
      importCsv(formData).then(response => {
        // this.departments = response.data.data
        this.getAllDepartment()
        this.getAllPersons()
        setTimeout(() => {
          this.dialogVisibleImport = false
          this.listLoading = false
          // window.location.reload()
          // this.$router.push({ path: this.redirect || '/dashboard' })
        }, 1.5 * 1000)
      })
    },
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleEditDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditDepartment = true
    },
    handleDeletePosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePosition(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeletePerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePerson(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeleteDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      if (confirm('Are You Want Delete ? ')) {
        deleteDepartment(this.temp.id).then(() => {
          this.getAllDepartment()
          this.getAllPersons()
          this.$notify({
            title: 'Deleted',
            message: 'Successfully Deleted',
            type: 'success',
            duration: 2000
          })
        })
      }
    },
    handleEditPosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPosition = true
    },
    handleEditPerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.positions = row.position_tags.map(pos => pos.id) // copy obj
      this.dialogVisibleEditPerson = true
    },
    handleEditExperience(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditExperience = true
    },
    handleEditIMDB(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditIMDB = true
    },
    handleEditEmail(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditEmail = true
    },
    handleEditPhone(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPhone = true
    },
    handleEditSkype(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditSkype = true
    },
    handleEditFacebook(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditFacebook = true
    },
    handleEditTwitter(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditTwitter = true
    },
    handleAddPerson() {
      this.temp = {}
      this.positions = []
      this.temp.active = ['1']
      // this.temp.positions = [] // copy obj
      this.dialogVisibleAddPerson = true
    },
    handleAddCrew(position) {
      this.temp = Object.assign({}, '') // copy obj
      this.form = Object.assign({}, '') // copy obj
      if (position != 'undefined') {
        this.temp.position_id = position.id
      } else {
        this.temp.position_id = 'undefined'
      }
      this.dialogVisibleAddCrew = true
    },
    handleAddPosition(position, department_id) {
      this.temp = Object.assign({}, '') // copy obj
      this.form = Object.assign({}, '') // copy obj
      this.temp.position_id = position.id // copy obj
      this.temp.department_id = department_id // copy obj
      this.dialogVisibleAddPosition = true
    },
    handleShowCrew() {
      this.dialogVisible = true
    },
    handleSendEmail() {
      this.clickedColor = true
    },
    handleSelect(person) {
      this.activePerson = person.id
      this.select = !this.select
    },
    getAllDepartment() {
      // this.listLoading = true
      this.select = true
      this.value = null
      fetchDepartments().then(response => {
        this.departments = response.data.data

        this.init()
        this.watchSelect = !this.watchSelect
        setTimeout(() => {
          // this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    getAllPersons() {
      // this.listLoading = true
      this.value = null
      fetchPersons().then(response => {
        this.persons = response.data.data

        setTimeout(() => {
          // this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleAssign(row) {
      this.temp = Object.assign({}, row) // copy obj
    },
    assignPosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      assignPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.pID = person.id
        this.selectedName = person.name
        this.ppID = null
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    addPosition() {
      // this.activePerson = person.id
      var data = '{"department_id":"' + this.temp.department_id + '",' + '"name":"' + this.form.name + '",' + '"position_id":"' + this.temp.position_id + '"}'
      addPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updateDepartment() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editDepartment(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditDepartment = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePosition() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editPosition(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePerson() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name +
        '"experience":"' + this.temp.experience +
        '"imob":"' + this.temp.imob +
        '"email":"' + this.temp.email +
        '"phone":"' + this.temp.phone +
        '"skype":"' + this.temp.skype +
        '"facebook":"' + this.temp.facebook +
        '"twitter":"' + this.temp.twitter +
        '"}'
      this.temp.positions = this.positions
      editPerson(this.temp, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPerson = false
      })
    },
    updateExperience() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"experience":"' + this.temp.experience + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditExperience = false
      })
    },
    updateIMDB() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"imob":"' + this.temp.imob + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditIMDB = false
      })
    },
    updateEmail() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"email":"' + this.temp.email + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditEmail = false
      })
    },
    updatePhone() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"phone":"' + this.temp.phone + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPhone = false
      })
    },
    updateSkype() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"skype":"' + this.temp.skype + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditSkype = false
      })
    },
    updateFacebook() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"facebook":"' + this.temp.facebook + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditFacebook = false
      })
    },
    updateTwitter() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"twitter":"' + this.temp.twitter + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditTwitter = false
      })
    },
    addCrew() {
      // this.activePerson = person.id
      var data = '{"dep":"' + this.form.depName + '",' + '"pos":"' + this.form.posName + '",' + '"position_id":"' + this.temp.position_id + '"}'
      addCrew(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddCrew = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },

    addPerson() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          // var data = '{"name":"' +
          //   this.temp.name + '","experience":"' + this.temp.experience + '","imob":"' +
          //   this.temp.imob + '","email":"' + this.temp.email + '","phone":"' + this.temp.phone + '","skype":"' +
          //   this.temp.skype + '","facebook":"' + this.temp.facebook + '","twitter":"' +
          //   this.temp.twitter + '"}'
          this.temp.positions = this.positions
          addPerson(this.temp).then(() => {
            this.getAllDepartment()
            this.getAllPersons()
            this.$notify({
              title: 'Saved',
              message: 'Successfully Saved',
              type: 'success',
              duration: 2000
            })
            this.dialogVisibleAddPerson = false
            // this.watchSelect = !this.watchSelect
            // this.select = !this.select
          })
        }
      })
    },
    removePosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      removePosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Removed',
          type: 'success',
          duration: 2000
        })
        this.pID = null
        this.selectedName = null
        this.ppID = person.id
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    handleClick(row, department) {
      // this.init()
      this.$store.dispatch('extra/setPosition', row)
        .then(() => {
        })
        .catch(() => {
        })
      this.Index = this.departments[0].positions.indexOf(this.currentRow)
      this.currentDepRow = department
      this.currentRow = row
      this.persons = row.persons
      if (row.persons.length < 1) {
        console.log('row' + row.id)
        this.handleCrePosition(row.id)
        console.log('row.persons.length ' + row.persons.length)
      }
      this.currentPerson = row.persons.map(person => person.id)
      this.value = row.id
      this.clickedDepColor = false
      this.clickedColor = true
      // console.log('row ' + row.persons.map(person => person.id))
      this.activePerson = row.persons.map(person => person.id)
      // this.selected = row.persons.map(person => this.activePerson.includes(person.id))
      // this.selected = row.persons.map(person => this.activePerson.includes(person.id))

      // console.log('row.persons.map(person => this.activePerson.includes(person.id)) ' + row.persons.map(person => this.activePerson.includes(person.id)))
      // console.log('this.activePerson ' + this.activePerson)
      // if (row.persons.map(person => this.activePerson.includes(person.id))) {
      //   console.log('matched')
      //   // this.select = false
      // } else {
      //   // console.log('row.persons.map(person => person.id).includes(this.activePerson) ' + row.persons.map(person => person.id).includes(this.activePerson))
      //   // console.log('this.activePerson ' + this.activePerson)
      // }
    },
    handleDepClick(row) {
      this.currentDepRow = row
      this.clickedDepColor = true
      this.clickedColor = false
    },
    handleCrePosition(val) {
      this.listLoading = true
      // console.log('(new Date().getTime() - this.endTime) / 1000)' + (new Date().getTime() - this.endTime) / 1000)
      filterPeopleByPosition(val).then(response => {
        // this.activePerson = response.data
        this.persons = response.data.data.person_tags
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
      // this.currentRow = val
      // this.value = val
      // console.log(this.departments.map(dep => dep.positions.includes(val) ? 'm' : val))
      // console.log(this.persons.map(person => person.position.includes(val) ? 'm' : val))
      // this.activePerson = val
      this.clickedColor = true
    },
    filterPeoplePosition(val) {
      const personTags = this.persons.find(per => per.position_tags)
      // row.persons.map(person => this.activePerson.includes(person.id))
      // this.persons = this.departments[0].persons
      console.log('persons person_tags' + personTags)
    },
    handleChangePerson(person) {
      person.show = true
      console.log('mode ' + person.show)
    },
    editDepartment(id) {
      this.departments.name = id.name
      this.departments.id = id.id
      console.log(this.departments.name)
      console.log(this.departments.id)
    }
  }
}
</script>

<style scoped>
  .inline-item{
    display: table-header-group;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .el-form-item {
    margin-bottom: 5px !important;
    line-height: 12px;
  }
  .el-form-item__content {
    position: relative;
    font-size: 10px;
    height: 12px;
  }
</style>
<style>
  .el-input--mini .el-input__inner {
    height: 28px;
    line-height: 28px;
    background: #212629;
    color: #fff;
    border: none;
  }
  .right .el-form-item__label {
    text-align: right;
  }
  .el-select-dropdown.el-popper {
    background: #212629;
  }
  .form-header {
    background: #212629;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 5px;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #3b3c3d;
  }
  .el-select .el-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: rgba(24, 144, 255, 0.1);
  }
  .el-dialog__header {
    padding: 20px;
    padding-bottom: 10px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-dialog__title {
    font-size: 18px;
    color: rgb(24, 144, 255);
  }
    .el-dialog__footer {
      padding: 20px;
      padding-top: 10px;
      text-align: right;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #1e1e1f;
      border: 1px solid #fff;
    }
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-input--medium .el-input__inner {
    height: 32px;
    line-height: 36px;
    background: #212629;
    color: #fff;
  }
  .el-dialog__body {
    padding: 30px 20px;
    color: #ffffff;
    font-size: 14px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__header {
    height: 34px;
    line-height: 48px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
  }
  .el-collapse-item__header.is-active{
    background-color: #1e1e1f;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
