<template>
  <div class="dashboard-editor-container">
    <el-tabs type="card" style="position: relative;">
      <el-tab-pane label="STAFFING">
        <div class="filter-container">
          <div>
            <el-row :gutter="20">
              <el-col :span="12" style="border-right: 1px solid #dfe4ed;">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <span>Crew List</span>
                    <el-button type="primary">Edit</el-button>
                    <el-input
                      v-model="search"
                      style="width: 40%;float: right;"
                      placeholder="Type something"
                    >
                      <i slot="prefix" class="el-input__icon el-icon-search" />
                    </el-input>
                    <div class="border-bottom" />
                  </div>
                  <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>KEY CREATIVE TEAM</span>
                    </div>
                    <div v-for="dep1 in KEY_CREATIVE_TEAM" :key="dep1.id" class="text item" :class="[{clicked: clickedColor && dep1.id===currentRow },{selected: dep1.id===currentRow && dep1.id === activePerson} ]" @click="handleClick(dep1.id)">
                      <span style="margin-left: 10px;">
                        {{ dep1.position }}
                      </span>
                      <div v-if="dep1.id===currentRow" style="float: right;margin-top: -9px;">
                        <el-button v-waves class="filter-item" type="primary">
                          Start Crew
                        </el-button>
                        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="handleSendEmail(dep1.id)">
                          Contact
                        </el-button>
                      </div>
                    </div>
                  </el-card>
                  <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>PRODUCTION DEPARTMENT</span>
                    </div>
                    <div v-for="dep2 in PRODUCTION_DEPARTMENT" :key="dep2.id" class="text item" :class="[{clicked: clickedColor && dep2.id===currentRow },{selected: checked && dep2.id===currentRow} ]" @click="handleClick(dep2.id)">
                      <span style="margin-left: 10px;">
                        {{ dep2.position }}
                      </span>
                      <div v-if="dep2.id===currentRow" style="float: right;margin-top: -9px;">
                        <el-button v-waves class="filter-item" type="primary">
                          Start Crew
                        </el-button>
                        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="handleSendEmail(dep1.id)">
                          Contact
                        </el-button>
                      </div>
                    </div>
                  </el-card>
                  <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>Department 3</span>
                    </div>
                    <div v-for="dep3 in department3" :key="dep3.id" class="text item" :class="[{clicked: clickedColor && dep3.id===currentRow },{selected: checked && dep3.id===currentRow} ]" @click="handleClick(dep3.id)">
                      <span style="margin-left: 10px;">
                        {{ 'Position 3.' + dep3.id }}
                      </span>
                      <div v-if="dep3.id===currentRow" style="float: right;margin-top: -9px;">
                        <el-button v-waves class="filter-item" type="primary">
                          Start Crew
                        </el-button>
                        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="handleSendEmail(dep1.id)">
                          Contact
                        </el-button>
                      </div>
                    </div>
                  </el-card>
                </el-card>
              </el-col>
              <el-col :span="12">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <span>Address Book</span>
                    <el-select v-model="value" placeholder="Crew Position">
                      <el-option
                        v-for="item in PRODUCTION_DEPARTMENT"
                        :key="item.id"
                        :label="item.position"
                        :value="item.id"
                      />
                    </el-select>
                    <el-input
                      v-model="search"
                      style="width: 40%;float: right;"
                      placeholder="Type something"
                    >
                      <i slot="prefix" class="el-input__icon el-icon-search" />
                    </el-input>
                    <div class="border-bottom" />
                  </div>
                  <!--                  {{activePerson}}-->
                  <el-collapse v-for="person in persons" :key="person.id" v-model="activePerson" accordion>
                    <el-collapse-item :title="person.name" :name="person.id" :class="{border: person.id===currentRow}">
                      <div style="margin-left: 20px;">{{ person.experience }}</div>
                      <div style="margin-left: 20px;">{{ person.imob }}</div>
                      <div style="margin-left: 20px;">{{ person.email }}</div>
                      <div style="margin-left: 20px;">{{ person.phone }}</div>
                      <div style="margin-left: 20px;">{{ person.skype }}</div>
                      <div style="margin-left: 20px;">{{ person.facebook }}</div>
                      <div style="margin-left: 20px;">{{ person.twitter }}</div>
                    </el-collapse-item>
                  </el-collapse>
                  <!--                  <el-card class="box-card">-->
                  <!--                    <ul>-->
                  <!--                      <li v-for="person in persons" :key="person.id" class="person">-->
                  <!--                        <el-radio v-model="checked" :label="person.id" border>{{ person.name }}</el-radio>-->
                  <!--                      </li>-->
                  <!--                    </ul>-->
                  <!--                  </el-card>-->
                </el-card>
              </el-col>
            </el-row>
          </div>
          <div v-if="showCrew">
            <el-row :gutter="20">
              <el-col :span="24" class="border-top">
                <h3 style="text-align: right;color: #31B4E6;">Crew Start Form</h3>
              </el-col>
              <el-col :span="18" :offset="6">
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-col :span="24" class="border-top">
                <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
              </el-col>
              <el-col :span="16">
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
              </el-col>
              <el-col :span="8">
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-col :span="24" class="border-top">
                <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
              </el-col>
              <el-col :span="16">
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
              </el-col>
              <el-col :span="8">
                <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="Activity name">
                    <el-input v-model="form.name" />
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
            <el-row :gutter="20">
              <el-col :span="24" class="border-top">
                <div class="" style="margin-top: 20px;float: right;">
                  <el-button v-waves class="filter-item" type="primary" @click="handletable">
                    Cancel
                  </el-button>
                  <el-button v-waves class="filter-item" type="primary" @click="handletable">
                    Save
                  </el-button>
                </div>
              </el-col>
            </el-row>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="RATES">RATES</el-tab-pane>
      <el-tab-pane label="CONTRACTS">CONTRACTS</el-tab-pane>
      <el-tab-pane label="PAYROLL">PAYROLL</el-tab-pane>
      <el-tab-pane label="PASSWORD">PASSWORD</el-tab-pane>
    </el-tabs>

    <div class="right-side">
      <img style="    width: 50px;" src="../../../assets/iconfinder_193_Ensign_Flag_Nation_norway_2634380.png" alt="">
      <img style="    width: 50px;" src="../../../assets/iconfinder_193_Ensign_Flag_Nation_norway_2634380.png" alt="">
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DashboardAdmin',
  data() {
    return {
      clickedColor: false,
      selectedColor: true,
      currentRow: null,
      KEY_CREATIVE_TEAM: [
        {
          id: 1,
          position: 'Producer'
        },
        {
          id: 2,
          position: 'Director'
        },
        {
          id: 3,
          position: 'Screenwriters'
        }
      ],
      PRODUCTION_DEPARTMENT: [
        {
          id: 4,
          position: 'Executive Producer'
        },
        {
          id: 5,
          position: 'Line Producer'
        },
        {
          id: 6,
          position: 'Production Manager'
        },
        {
          id: 7,
          position: 'Production Coordinator'
        },
        {
          id: 8,
          position: 'Production Secretary'
        },
        {
          id: 9,
          position: 'Production Accountant'
        }
      ],
      department3: [
        {
          id: 10
        },
        {
          id: 11
        }
      ],
      tableKey: 0,
      search: null,
      checked: null,
      options: [{
        value: 'Position 1.1',
        label: 'Position 1.1'
      }, {
        value: 'Position 1.2',
        label: 'Position 1.2'
      }, {
        value: 'Position 1.3',
        label: 'Position 1.3'
      }, {
        value: 'Position 1.4',
        label: 'Position 1.4'
      }, {
        value: 'Position 2.1',
        label: 'Position 2.1'
      }, {
        value: 'Position 2.2',
        label: 'Position 2.2'
      }, {
        value: 'Position 2.3',
        label: 'Position 2.3'
      }],
      persons: [
        {
          id: 1,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' skype',
          facebook: 'facebook ',
          twitter: ' twitter',
          name: 'Kkyalg Molvar'
        },
        {
          id: 2,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Francis Ford Copala'
        },
        {
          id: 3,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Steven'
        },
        {
          id: 4,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Spielber6'
        }
      ],
      value: '',
      activePerson: '',
      list: [
        {
          id: '01',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '02',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '03',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '04',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '05',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        }
      ],
      total: 0,
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    handleCrew() {
      this.showCrew = true
      this.showTable = false
    },
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleSendEmail() {
      this.clickedColor = true
    },
    handleClick(row) {
      this.currentRow = row
      this.clickedColor = true
      console.log('row' + row)
      this.activePerson = row
    },
    handletable() {
      this.showCrew = false
      this.showContact = false
      this.showTable = true
    }
  }
}
</script>
<style>
  .text.item {
    padding: 15px 5px;
  }
  .border{
    border: 1px solid #fff;
  }
  .el-collapse {
    border-top: none;
    border-bottom: none;
  }
  .el-collapse-item__wrap {
    background-color: #3b3c3d;
  }
  .el-collapse-item__header {
    background-color: #3b3c3d;
    color: #ffffff;
    border-bottom: none;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  li.person {
    list-style: none;
    margin-bottom: 12px;
  }
  .selected{
    background: #64d9d6 !important;
    padding-top: 10px;
  }
  .clicked{
    background: rgba(27, 32, 36, 0.79);
    padding-top: 10px;
  }
  .el-card.is-always-shadow {
    box-shadow: none;
  }
  .el-card {
    border: none;
    background-color: #3b3c3d;
    color: #ffffff;
  }
  .el-card__header {
    border-bottom: none;
    font-size: 24px;
  }
  .box-card{
    margin-top: 20px;
  }
  .border-top{
    border-top: 3px solid #31B4E6;
    margin-top: 20px;
  }
  .border-bottom{
    border-bottom: 1px solid #dfe4ed;
    margin-top: 20px;
  }
  .el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
  }
  .right-side {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .el-form-item__label {
    font-size: 14px;
    color: #ffffff;
  }
  .el-table tr {
    background-color: #313131;
    color: #fff;
  }
  tr.hover-row{
    background-color: #313131;
    color: #fff;
  }
  .el-table tr:hover {
    background-color: #313131;
    color: #fff;
  }
  .el-table th {
    background-color: #171717;
  }
</style>
<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(59, 60, 61);
  position: relative;
  height: 100%;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}
</style>
