<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="12" style="padding-right: 25px;border-right: 1px solid #ddd;">
        <el-row>
          <span style="font-size: 20px">Crew List</span>
          <el-button type="primary" size="mini">Edit</el-button>
          <el-input
            v-model="search"
            style="width: 40%;float: right;"
            placeholder="Search Crew List"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-row class="fixed-wrapper">
          <div class="wrapper">
            <h3>KEY CREATIVE TEAM</h3>
            <div v-for="dep1 in KEY_CREATIVE_TEAM" :key="dep1.id" class="text item" :class="[{clicked: clickedColor && dep1.id===currentRow },{selected: dep1.id===currentRow && dep1.id === activePerson} ]" @click="handleClick(dep1.id)">
              <span style="margin-left: 10px;">
                {{ dep1.position }}
              </span>
              <div v-if="dep1.id===currentRow" style="float: right;margin-top: -2px;">
                <el-button v-waves class="filter-item" type="primary" size="mini">
                  Start Crew
                </el-button>
                <el-button class="filter-item" style="margin-left: 10px;" type="primary" size="mini" @click="handleSendEmail(dep1.id)">
                  Contact
                </el-button>
              </div>
            </div>
            <h3>PRODUCTION DEPARTMENT</h3>

            <div v-for="dep2 in PRODUCTION_DEPARTMENT" :key="dep2.id" class="text item" :class="[{clicked: clickedColor && dep2.id===currentRow },{selected: checked && dep2.id===currentRow} ]" @click="handleClick(dep2.id)">
              <span style="margin-left: 10px;">
                {{ dep2.position }}
              </span>
              <div v-if="dep2.id===currentRow" style="float: right;margin-top: -2px;">
                <el-button v-waves class="filter-item" type="primary" size="mini">
                  Start Crew
                </el-button>
                <el-button class="filter-item" style="margin-left: 10px;" type="primary" size="mini" @click="handleSendEmail(dep1.id)">
                  Contact
                </el-button>
              </div>
            </div>
            <h3>New DEPARTMENT</h3>

            <div v-for="dep3 in department3" :key="dep3.id" class="text item" :class="[{clicked: clickedColor && dep3.id===currentRow },{selected: checked && dep3.id===currentRow} ]" @click="handleClick(dep3.id)">
              <span style="margin-left: 10px;">
                {{ 'Position 3.' + dep3.id }}
              </span>
              <div v-if="dep3.id===currentRow" style="float: right;margin-top: -2px;">
                <el-button v-waves class="filter-item" type="primary" size="mini">
                  Start Crew
                </el-button>
                <el-button class="filter-item" style="margin-left: 10px;" type="primary" size="mini" @click="handleSendEmail(dep1.id)">
                  Contact
                </el-button>
              </div>
            </div>
          </div>
        </el-row>
      </el-col>
      <el-col :span="12" style="padding-left: 25px;">
        <el-row>
          <span style="font-size: 20px">Address Book</span>
          <el-select v-model="value" placeholder="Crew Position" style="width: 30%;" @change="handleClick(value)">
            <el-option
              v-for="item in KEY_CREATIVE_TEAM"
              :key="item.id"
              :label="item.position"
              :value="item.id"
            />
          </el-select>
          <el-input
            v-model="search"
            style="width: 30%;float: right;"
            placeholder="Search Address Book"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-row>
          <el-collapse v-for="person in persons" :key="person.id" v-model="activePerson" accordion>
            <el-collapse-item :title="person.name" :name="person.id">
              <div style="margin-left: 20px;">{{ person.experience }}</div>
              <div style="margin-left: 20px;">{{ person.imob }}</div>
              <div style="margin-left: 20px;">{{ person.email }}</div>
              <div style="margin-left: 20px;">{{ person.phone }}</div>
              <div style="margin-left: 20px;">{{ person.skype }}</div>
              <div style="margin-left: 20px;">{{ person.facebook }}</div>
              <div style="margin-left: 20px;">{{ person.twitter }}</div>
            </el-collapse-item>
          </el-collapse>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DashboardAdmin',
  data() {
    return {
      clickedColor: false,
      selectedColor: true,
      currentRow: null,
      KEY_CREATIVE_TEAM: [
        {
          id: 1,
          position: 'Producer'
        },
        {
          id: 2,
          position: 'Director'
        },
        {
          id: 3,
          position: 'Screenwriters'
        }
      ],
      PRODUCTION_DEPARTMENT: [
        {
          id: 4,
          position: 'Executive Producer'
        },
        {
          id: 5,
          position: 'Line Producer'
        },
        {
          id: 6,
          position: 'Production Manager'
        },
        {
          id: 7,
          position: 'Production Coordinator'
        },
        {
          id: 8,
          position: 'Production Secretary'
        },
        {
          id: 9,
          position: 'Production Accountant'
        }
      ],
      department3: [
        {
          id: 10
        },
        {
          id: 11
        },
        {
          id: 12
        },
        {
          id: 13
        }
      ],
      tableKey: 0,
      search: null,
      checked: null,
      options: [{
        value: 'Position 1.1',
        label: 'Position 1.1'
      }, {
        value: 'Position 1.2',
        label: 'Position 1.2'
      }, {
        value: 'Position 1.3',
        label: 'Position 1.3'
      }, {
        value: 'Position 1.4',
        label: 'Position 1.4'
      }, {
        value: 'Position 2.1',
        label: 'Position 2.1'
      }, {
        value: 'Position 2.2',
        label: 'Position 2.2'
      }, {
        value: 'Position 2.3',
        label: 'Position 2.3'
      }],
      persons: [
        {
          id: 1,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' skype',
          facebook: 'facebook ',
          twitter: ' twitter',
          name: 'Kkyalg Molvar'
        },
        {
          id: 2,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Francis Ford Copala'
        },
        {
          id: 3,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Steven'
        },
        {
          id: 4,
          experience: '25 Years Experience',
          imob: 'Filmography ',
          email: 'skylog@flim-it.no ',
          phone: '+47 900 49 585',
          skype: ' ',
          facebook: ' ',
          twitter: ' ',
          name: 'Spielber6'
        }
      ],
      value: '',
      activePerson: '',
      list: [
        {
          id: '01',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '02',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '03',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '04',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        },
        {
          id: '05',
          name: 'Bailey Mirza',
          position: 'Associate Producer',
          category: 'Production',
          email: 'bairy@gmail.com',
          rate: '$650',
          notes: 'Dummy Text'
        }
      ],
      total: 0,
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    handleStaff() {
      // console.log('dfgsdgs')
      this.$router.push({ path: this.redirect || '/dashboard' })
    },
    handleRates() {
      this.$router.push({ path: this.redirect || '/rates' })
    },
    handleContacts() {
      this.$router.push({ path: this.redirect || '/contacts' })
    },
    handlePayroll() {
      this.$router.push({ path: this.redirect || '/payroll' })
    },
    handlePassword() {
      this.$router.push({ path: this.redirect || '/password' })
    },
    handleCrew() {
      this.showCrew = true
      this.showTable = false
    },
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleSendEmail() {
      this.clickedColor = true
    },
    handleClick(row) {
      this.currentRow = row
      this.value = row
      this.clickedColor = true
      console.log('row' + row)
      this.activePerson = row
    },
    handleRoute(route, event) {
      this.$router.push({ path: this.redirect || route.label.toLowerCase() })
      console.log('Route ' + route.label.toLowerCase())
    },
    handletable() {
      this.showCrew = false
      this.showContact = false
      this.showTable = true
    }
  }
}
</script>
<style>
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
</style>
<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  padding-top: 0px;
  background-color: rgb(59, 60, 61);
  position: relative;
  height: 100%;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}
</style>
