<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="24">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">project Information</span>
          <el-input
            v-model="search"
            style="width: 40%;float: right;"
            placeholder="Search"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="Project name">
            <el-input v-model="form.name" />
          </el-form-item>
        </el-form>
        <span class="dialog-footer" style="float: right;margin-top: 20px;">
        <el-button type="danger" @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Save</el-button>
      </span>

      </el-col>
    </el-row>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      search: '',
      dialogVisible: false,
      form: {
        name: 'Film Admin project',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'roles'
    ])
  },
  created() {
    // this.getAllDepartment()
    // this.getAllPersons()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleEditDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditDepartment = true
    }
  }
}
</script>

<style scoped>
  .inline-item{
    display: table-header-group;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .el-form-item {
    margin-bottom: 5px !important;
    line-height: 12px;
  }
  .el-form-item__content {
    position: relative;
    font-size: 10px;
    height: 12px;
  }
</style>
<style>
  .right .el-form-item__label {
    text-align: right;
  }
  .el-select-dropdown.el-popper {
    background: #212629;
  }
  .form-header {
    background: #212629;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 5px;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #3b3c3d;
  }
  .el-select .el-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: rgba(24, 144, 255, 0.1);
  }
  .el-dialog__header {
    padding: 20px;
    padding-bottom: 10px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-dialog__title {
    font-size: 18px;
    color: rgb(24, 144, 255);
  }
    .el-dialog__footer {
      padding: 20px;
      padding-top: 10px;
      text-align: right;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #1e1e1f;
      border: 1px solid #fff;
    }
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-input--medium .el-input__inner {
    height: 32px;
    line-height: 36px;
    background: #212629;
    color: #fff;
  }
  .el-dialog__body {
    padding: 30px 20px;
    color: #ffffff;
    font-size: 14px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__header {
    height: 34px;
    line-height: 48px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
  }
  .el-collapse-item__header.is-active{
    background-color: #1e1e1f;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
