<template>
  <div class="dashboard-editor-container">
    <el-row>
      <el-col :span="10" style="padding-right: 25px;border-right: 1px solid #ddd;">
        <el-row>
<!--          {{currentRow}}-->
<!--          {{position.persons}}-->
          <span style="font-size: 20px;color: #1890ff;">Crew List</span>
          <el-button v-if="!edit" type="primary" size="mini" style="margin-left: 12px;" @click="edit= !edit">Edit</el-button>
          <el-button v-if="edit" type="primary" size="mini" style="margin-left: 12px;" @click="dialogVisibleAddCrew= !dialogVisibleAddCrew">Add</el-button>
          <el-button v-if="edit" type="primary" size="mini" style="margin-left: 12px;" @click="edit= !edit">Done</el-button>
          <el-input
            v-model="search"
            style="width: 40%;float: right;"
            placeholder="Search Crew List"
          >
            <i slot="prefix" class="el-input__icon el-icon-search" />
          </el-input>
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />

        <el-row class="fixed-wrapper">
          <div class="wrapper" style="margin-top: 10px;">
            <span v-for="department in departments" :key="department.id">
              <h3 style="display: inline;line-height: 45px;">{{ department.name }}</h3>
              <template v-if="edit">
                <!--                <el-input v-model="department.name" style="width: fit-content;margin-top: 10px;" />-->
                <!--                <el-button class="filter-item" type="primary" size="mini" @click="edit = !edit">-->
                <!--                  Save-->
                <!--                </el-button>-->
                <el-button class="filter-item" type="primary" size="mini" style="margin-left: 12px;" @click="handleEditDepartment(department)">
                  Edit
                </el-button>
                <el-button class="filter-item" type="danger" size="mini" style="margin-left: 12px;" @click="handleDeleteDepartment(department)">
                  Delete
                </el-button>
                <el-button class="filter-item" type="primary" size="mini" @click="handleAddPosition(department)">
                  Add Position
                </el-button>
              </template>
              <div
                v-for="position in department.positions"
                :key="position.id"
                class="text item"
                :class="[
                  {
                    clicked: clickedColor && !edit && position.id===currentRow.id || position.id===currentRow },
                  {
                    // selected: position.persons.map(person => person.id).includes(activePerson)
                  }
                ]"
                @click="edit?currentRow=position:handleClick(position)"
              >
                <span style="margin-left: 10px;">
                  {{ position.name }}
                  <template v-if="position.persons.length>0">
                    <span v-if="position.persons[0].filled" style="margin-left: 5px;color: rgb(255,227,19);"> {{ position.persons[0]? '- '+position.persons[0].name : '' }}</span>
                    <span v-else style="margin-left: 5px;color: rgb(24, 144, 255);"> {{ position.persons[0]? '- '+position.persons[0].name : '' }}</span>
                  </template>

                </span>
                <div v-if="position.id===currentRow.id && edit" style="margin-top: -2px;display: inline-flex;margin-left: 11px;">
                  <el-button class="filter-item" type="primary" size="mini" @click="handleEditPosition(position)">
                    Edit
                  </el-button>
                  <el-button class="filter-item" type="danger" size="mini" @click="handleDeletePosition(position)">
                    Delete
                  </el-button>
                </div>
                <!--                <div v-if="position.id===currentRow.id && !edit" style="float: right;margin-top: -2px;">-->
                <!--                  <el-button class="filter-item" type="primary" size="mini" @click="handleShowCrew()">-->
                <!--                    Start Crew-->
                <!--                  </el-button>-->
                <!--                  <el-button class="filter-item" style="margin-left: 10px;" type="primary" size="mini" @click="handleSendEmail(position.id)">-->
                <!--                    Contact-->
                <!--                  </el-button>-->
                <!--                </div>-->
              </div>
            </span>
          </div>
        </el-row>
      </el-col>
      <el-col :span="14" style="padding-left: 25px;">
        <el-row>
          <span style="font-size: 20px;color: #1890ff;">Crew Start Form</span>
          <!--<el-button type="primary" size="mini" style="margin-left: 10px;" @click="handleAddPerson()">Add</el-button>-->
          <el-button type="primary" size="mini" style="margin-left: 12px;" @click="handleSendEmail">Send</el-button>
          <!--<el-button v-if="!editPerson" type="primary" size="mini" style="margin-left: 12px;" @click="editPerson= !editPerson">Send</el-button>-->
          <!--<el-button v-if="editPerson" type="primary" size="mini" style="margin-left: 5px;" @click="handleAddPerson()">Add</el-button>-->
          <!--<el-button v-if="editPerson" type="primary" size="mini" style="margin-left: 5px;" @click="editPerson= !editPerson">Done</el-button>-->
        </el-row>
        <div style="border-bottom: 1px solid #fff;margin-top: 10px;" />
        <el-row v-if="clickedPerson">
          <el-form ref="form" label-position="left" :model="clickedPerson" style="margin-top: 20px;">
<!--            {{clickedPerson}}-->
            <div class="inline-item">
              <el-form-item label="First Name" label-width="140px" class="left">
                <el-input v-model="clickedPerson.fname" ></el-input>
              </el-form-item>
              <el-form-item label="Last Name" label-width="100px" class="right">
                <el-input v-model="clickedPerson.lname" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Personal ID (SSN)" label-width="140px" class="left">
                <el-input v-model="clickedPerson.ssn" ></el-input>
              </el-form-item>
              <el-form-item label="Bank Account Number" label-width="180px" class="right">
                <el-input v-model="clickedPerson.bank_account_no" ></el-input>
              </el-form-item>
            </div>

            <div class="inline-item">
              <el-col :span="12">
                <el-form-item label="Phone" label-width="140px" class="left">
                  <el-col class="line" :span="2" style="font-size: 22px;font-weight: bold">+</el-col>
                  <el-col :span="6" style="margin-right: 10px;">
                    <el-form-item prop="phone_code">
                      <el-input v-model="clickedPerson.phone_code" ></el-input>
                    </el-form-item>
                  </el-col>
                  <!--                <el-col class="line" :span="1">-</el-col>-->
                  <el-col :span="14">
                    <el-form-item prop="phone">
                      <el-input v-model="clickedPerson.phone" ></el-input>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="Email" label-width="100px" class="right" prop="email">
                  <el-input v-model="clickedPerson.email" ></el-input>
                </el-form-item>
              </el-col>
            </div>
            <div class="inline-item">
              <el-form-item label="Street Address" label-width="140px">
                <el-input v-model="clickedPerson.address" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-col :span="12">
                <el-form-item label="Country Zip Code" label-width="140px" class="left">
                  <el-col :span="8">
                    <el-form-item>
                      <el-input v-model="clickedPerson.zipcode1" ></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col class="line" :span="2" style="text-align: center">-</el-col>
                  <el-col :span="14">
                    <el-form-item >
                      <el-input v-model="clickedPerson.zipcode2" ></el-input>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="City" label-width="100px" class="right">
                  <el-input v-model="clickedPerson.city" ></el-input>
                </el-form-item>
              </el-col>
            </div>
            <div class="inline-item">
              <el-form-item label="Crew Position" label-width="140px">
                <el-select
                  v-model="positions"
                  multiple
                  clearable
                  filterable
                  style="width: 100%"
                  placeholder="Select Position"
                >
                  <el-option-group
                    v-for="group in departments"
                    :key="group.id"
                    :label="group.name"
                  >
                    <el-option
                      v-for="item in group.positions"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-option-group>
                </el-select>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Year Experience" label-width="140px" class="left">
                <el-col :span="4">
                  <el-form-item>
                    <el-input v-model="clickedPerson.experience" ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="10" style="margin-left: 10px;">
                  <el-form-item label="Rate" label-width="40px">
                    <el-input v-model="clickedPerson.rate" ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="6" style="margin-left: 10px; font-weight: 700">
                  NOK/Day
                </el-col>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="WWW" label-width="140px">
                <el-input v-model="clickedPerson.www" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="IMDB" label-width="140px">
                <el-input v-model="clickedPerson.imdb" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Skype" label-width="140px">
                <el-input v-model="clickedPerson.skype" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Facebook" label-width="140px">
                <el-input v-model="clickedPerson.facebook" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Twitter" label-width="140px">
                <el-input v-model="clickedPerson.twitter" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Company" label-width="140px">
                <el-input v-model="clickedPerson.company" ></el-input>
              </el-form-item>
            </div>
            <div class="inline-item">
              <el-form-item label="Note" label-width="140px">
                <el-input v-model="clickedPerson.note" ></el-input>
              </el-form-item>
            </div>
          </el-form>
        </el-row>
      </el-col>
    </el-row>
    <el-dialog
      title="New Crew"
      :visible.sync="dialogVisible"
      width="50%"
    >
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Crew Start Form</h3>
        </el-col>
        <el-col :span="18" :offset="6">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
        </el-col>
        <el-col :span="16">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="24" class="border-top">
          <h3 style="text-align: right;color: #31B4E6;">Employment Details</h3>
        </el-col>
        <el-col :span="16">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form ref="form" :model="form" label-width="120px">
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Activity name">
              <el-input v-model="form.name" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Send Crew Form</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Position"
      :visible.sync="dialogVisibleAddPosition"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="form.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleAddPosition = false">Cancel</el-button>
        <el-button type="primary" @click="addPosition()">Add Position</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Position"
      :visible.sync="dialogVisibleEditPosition"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditPosition = false">Cancel</el-button>
        <el-button type="primary" @click="updatePosition()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Person"
      :visible.sync="dialogVisibleEditPerson"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditPerson = false">Cancel</el-button>
        <el-button type="primary" @click="updatePerson()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Experience"
      :visible.sync="dialogVisibleEditExperience"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.experience" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditExperience = false">Cancel</el-button>
        <el-button type="primary" @click="updateExperience()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit IMDB"
      :visible.sync="dialogVisibleEditIMDB"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.imob" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditIMDB = false">Cancel</el-button>
        <el-button type="primary" @click="updateIMDB()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Email"
      :visible.sync="dialogVisibleEditEmail"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.email" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditEmail = false">Cancel</el-button>
        <el-button type="primary" @click="updateEmail()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Phone"
      :visible.sync="dialogVisibleEditPhone"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.phone" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditPhone = false">Cancel</el-button>
        <el-button type="primary" @click="updatePhone()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Skype"
      :visible.sync="dialogVisibleEditSkype"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.skype" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditSkype = false">Cancel</el-button>
        <el-button type="primary" @click="updateSkype()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Facebook"
      :visible.sync="dialogVisibleEditFacebook"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.facebook" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditFacebook = false">Cancel</el-button>
        <el-button type="primary" @click="updateFacebook()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Twitter"
      :visible.sync="dialogVisibleEditTwitter"
      width="30%"
    >

      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Position name">
          <el-input v-model="temp.twitter" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditTwitter = false">Cancel</el-button>
        <el-button type="primary" @click="updateTwitter()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Edit Department"
      :visible.sync="dialogVisibleEditDepartment"
      width="40%"
    >

      <el-form ref="form" :model="temp" label-width="160px">
        <el-form-item label="Department name">
          <el-input v-model="temp.name" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleEditDepartment = false">Cancel</el-button>
        <el-button type="primary" @click="updateDepartment()">Save</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Crew List"
      :visible.sync="dialogVisibleAddCrew"
      width="40%"
    >

      <el-form ref="form" :model="form" label-width="30%">
        <el-form-item label="Department Name">
          <el-input v-model="form.depName" />
        </el-form-item>
        <el-form-item label="Position Name">
          <el-input v-model="form.posName" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleAddCrew = false">Cancel</el-button>
        <el-button type="primary" @click="addCrew()">Add Crew</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Add Person List"
      :visible.sync="dialogVisibleAddPerson"
      width="40%"
    >
      <el-form ref="form" :model="temp" label-width="30%">
        <el-form-item label="Name">
          <el-input v-model="temp.name" />
        </el-form-item>
        <el-form-item label="Experience">
          <el-input v-model="temp.experience" />
        </el-form-item>
        <el-form-item label="imob">
          <el-input v-model="temp.imob" />
        </el-form-item>
        <el-form-item label="Email">
          <el-input v-model="temp.email" />
        </el-form-item>
        <el-form-item label="Phone">
          <el-input v-model="temp.phone" />
        </el-form-item>
        <el-form-item label="Skype">
          <el-input v-model="temp.skype" />
        </el-form-item>
        <el-form-item label="Facebook">
          <el-input v-model="temp.facebook" />
        </el-form-item>
        <el-form-item label="Twitter">
          <el-input v-model="temp.twitter" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisibleAddPerson = false">Cancel</el-button>
        <el-button type="primary" @click="addPerson()">Add Person</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store'
import { sendEmail, fetchDepartments, fetchPersons, assignPosition, removePosition, addPosition, addCrew, editDepartment, editPosition, addPerson, deleteDepartment, deletePosition, editPerson, deletePerson } from '@/api/mainApi'
export default {
  data() {
    return {
      edit: false,
      editPerson: false,
      // watchSelect: false,
      clickedColor: false,
      positionClicked: false,
      pID: null,
      ppID: null,
      selectedColor: true,
      selected: false,
      select: true,
      dialogVisible: false,
      dialogVisibleEditDepartment: false,
      dialogVisibleEditPosition: false,
      dialogVisibleEditPerson: false,
      dialogVisibleEditExperience: false,
      dialogVisibleEditIMDB: false,
      dialogVisibleEditEmail: false,
      dialogVisibleEditPhone: false,
      dialogVisibleEditSkype: false,
      dialogVisibleEditFacebook: false,
      dialogVisibleEditTwitter: false,
      dialogVisibleAddPosition: false,
      dialogVisibleAddCrew: false,
      dialogVisibleAddPerson: false,
      currentRow: {
        persons: []
      },
      currentPerson: [],
      departments: null,
      positions: [],
      tableKey: 0,
      search: null,
      checked: null,
      persons: null,
      value: '',
      activePerson: [],
      total: 0,
      temp: {},
      listLoading: false,
      showContact: false,
      showCrew: false,
      showTable: true,
      form: {
        name: '',
        fname: '',
        lname: '',
        ssn: '',
        region: '',
        bank_account_no: '',
        address: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      clickedPerson: {
        name: '',
        fname: '',
        lname: '',
        ssn: '',
        region: '',
        bank_account_no: '',
        address: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'avatar',
      'position',
      'roles'
    ])
  },
  created() {
    const roles = this.roles.map(role => role.name)
    console.log('roles ' + roles)
    if (!roles.includes('admin')) {
      this.$router.push({ path: this.redirect || '/dashboard' })
    }
    this.getAllDepartment()
    this.getLocalStorage()
    this.getAllPersons()
    // console.log('process.env.VUE_APP_BASE_API = ' + process.env.VUE_APP_BASE_API)
  },
  methods: {
    async getLocalStorage() {
      if (this.position) {
        const row = this.position
        this.currentRow = row
        this.clickedPerson = row.persons ? row.persons[0] : null
        this.positions = row.persons[0] ? row.persons[0].position_tags ? row.persons[0].position_tags.map(pos => pos.id) : '' : ''
        this.clickedColor = true
      } else {
        console.log('nooooooo')
      }
    },
    handleContact() {
      this.showContact = true
      this.showTable = false
    },
    handleEditDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditDepartment = true
    },
    handleDeletePosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePosition(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeletePerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      deletePerson(this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Deleted',
          message: 'Successfully Deleted',
          type: 'success',
          duration: 2000
        })
      })
    },
    handleDeleteDepartment(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.dialogVisibleEditDepartment = true

      if (confirm('Are You Want Delete ? ')) {
        deleteDepartment(this.temp.id).then(() => {
          this.getAllDepartment()
          this.getAllPersons()
          this.$notify({
            title: 'Deleted',
            message: 'Successfully Deleted',
            type: 'success',
            duration: 2000
          })
        })
      }
    },
    handleEditPosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPosition = true
    },
    handleEditPerson(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPerson = true
    },
    handleEditExperience(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditExperience = true
    },
    handleEditIMDB(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditIMDB = true
    },
    handleEditEmail(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditEmail = true
    },
    handleEditPhone(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditPhone = true
    },
    handleEditSkype(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditSkype = true
    },
    handleEditFacebook(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditFacebook = true
    },
    handleEditTwitter(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleEditTwitter = true
    },
    handleAddPerson() {
      this.temp = {} // copy obj
      this.dialogVisibleAddPerson = true
    },
    handleAddPosition(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogVisibleAddPosition = true
    },
    handleShowCrew() {
      this.dialogVisible = true
    },
    handleSendEmail() {
      sendEmail(this.clickedPerson).then(res => {
        this.$notify({
          title: 'Success',
          message: 'Email has been sent successfully',
          type: 'success',
          duration: 2000
        })
        console.log('email send')
      })
    },
    handleSelect(person) {
      this.activePerson = person.id
      this.select = !this.select
    },
    getAllDepartment() {
      this.listLoading = true
      this.select = true
      fetchDepartments().then(response => {
        this.departments = response.data.data

        this.watchSelect = !this.watchSelect
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    getAllPersons() {
      this.listLoading = true
      fetchPersons().then(response => {
        this.persons = response.data.data

        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleAssign(row) {
      this.temp = Object.assign({}, row) // copy obj
    },
    assignPosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      assignPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.pID = person.id
        this.ppID = null
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    addPosition() {
      // this.activePerson = person.id
      var data = '{"department_id":"' +
        this.temp.id + '",' +
        '"name":"' + this.form.name + '"}'
      addPosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updateDepartment() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editDepartment(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditDepartment = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePosition() {
      // this.activePerson = person.id
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editPosition(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPosition = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    updatePerson() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"name":"' + this.temp.name + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPerson = false
      })
    },
    updateExperience() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"experience":"' + this.temp.experience + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditExperience = false
      })
    },
    updateIMDB() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"imob":"' + this.temp.imob + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditIMDB = false
      })
    },
    updateEmail() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"email":"' + this.temp.email + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditEmail = false
      })
    },
    updatePhone() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"phone":"' + this.temp.phone + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditPhone = false
      })
    },
    updateSkype() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"skype":"' + this.temp.skype + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditSkype = false
      })
    },
    updateFacebook() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"facebook":"' + this.temp.facebook + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditFacebook = false
      })
    },
    updateTwitter() {
      var data = '{"id":"' +
        this.temp.id + '",' +
        '"twitter":"' + this.temp.twitter + '"}'
      editPerson(data, this.temp.id).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleEditTwitter = false
      })
    },
    addCrew() {
      // this.activePerson = person.id
      var data = '{"dep":"' +
        this.form.depName + '",' +
        '"pos":"' + this.form.posName + '"}'
      addCrew(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddCrew = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },

    addPerson() {
      var data = '{"name":"' +
        this.temp.name + '","experience":"' + this.temp.experience + '","imob":"' +
        this.temp.imob + '","email":"' + this.temp.email + '","phone":"' + this.temp.phone + '","skype":"' +
        this.temp.skype + '","facebook":"' + this.temp.facebook + '","twitter":"' +
        this.temp.twitter + '"}'
      addPerson(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Saved',
          type: 'success',
          duration: 2000
        })
        this.dialogVisibleAddPerson = false
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    removePosition(person) {
      if (!this.currentRow.id) {
        this.$notify({
          title: 'Errors',
          message: 'Please Select a Position',
          type: 'errors',
          duration: 2000
        })
        return
      }
      // this.activePerson = person.id
      var data = '{"people_id":"' +
        person.id + '",' +
        '"position_id":"' + this.currentRow.id + '"}'
      removePosition(data).then(() => {
        this.getAllDepartment()
        this.getAllPersons()
        this.$notify({
          title: 'Saved',
          message: 'Successfully Removed',
          type: 'success',
          duration: 2000
        })
        this.pID = null
        this.ppID = person.id
        // this.watchSelect = !this.watchSelect
        // this.select = !this.select
      })
    },
    handleClick(row) {
      this.currentRow = row
      this.clickedPerson = row.persons ? row.persons[0] : null
      this.positions = row.persons[0] ? row.persons[0].position_tags ? row.persons[0].position_tags.map(pos => pos.id) : '' : ''
      this.clickedColor = true
    },
    handleCrePosition(val) {
      this.currentRow = val
      // this.value = val
      this.clickedColor = true
    },
    handleChangePerson(person) {
      person.show = true
      console.log('mode ' + person.show)
    },
    editDepartment(id) {
      this.departments.name = id.name
      this.departments.id = id.id
      console.log(this.departments.name)
      console.log(this.departments.id)
    }
  }
}
</script>
<style scoped>
  .inline-item{
    display: table-header-group;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .el-form-item {
    margin-bottom: 5px !important;
    line-height: 12px;
  }
  .el-form-item__content {
    position: relative;
    font-size: 10px;
    height: 12px;
  }
</style>
<style>
  .right .el-form-item__label {
    text-align: right;
  }
  .el-select-dropdown.el-popper {
    background: #212629;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #3b3c3d;
  }
  .el-select .el-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: rgba(24, 144, 255, 0.1);
  }
.el-input--mini .el-input__inner {
    height: 20px;
    font-size: 10px;
    color: white;
    background: #212629;
}
/*.el-form-item {*/
/*  margin-bottom: 0px !important;*/
/*  line-height: 12px;*/
/*}*/
/*.el-form-item__label {*/
/*    font-size: 14px;*/
/*}*/
/*.el-form-item__content {*/
/*    position: relative;*/
/*    font-size: 10px;*/
/*    height: 12px;*/
/*}*/
  .el-button--mini {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
  }
  .text.item {
    padding: 8px 5px;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-input--medium .el-input__inner {
    height: 32px;
    line-height: 36px;
    background: #212629;
    color: #fff;
  }
  .el-dialog__body {
    padding: 30px 20px;
    color: #ffffff;
    font-size: 14px;
    background: #1e1e1f;
    border: 1px solid #fff;
  }
  .el-collapse-item__header {
    font-size: 16px;
  }
  .el-collapse-item__header {
    height: 34px;
    line-height: 48px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
  }
  .el-collapse-item__header.is-active{
    background-color: #1e1e1f;
  }
</style>
<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    padding-top: 0px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
</style>
