<template>
  <section class="app-main">
    <el-row style="margin-top: 30px;padding: 0 32px;">
      <el-col :span="24">
<!--        <div style="position: relative;">-->
<!--          <span v-for="route in permission_routes" :key="route.path">-->
<!--            <span v-if="!route.hidden&&route.children">{{route}}</span>-->
<!--          </span>-->
<!--&lt;!&ndash;          <el-tabs v-for="route in permission_routes" :key="route.path" v-model="active" type="card" @tab-click="handleRoute">&ndash;&gt;-->
<!--&lt;!&ndash;            <el-tab-pane :label="route.meta.title" :name="route.meta.title" />&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <el-tab-pane label="STAFFING" name="STAFFING" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <el-tab-pane label="CREW START FORM" name="startCrew" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <el-tab-pane label="CONTRACTS" name="CONTRACTS" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <el-tab-pane label="PAYROLL" name="PAYROLL" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <el-tab-pane label="RATES" name="RATES" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </el-tabs>&ndash;&gt;-->
<!--        </div>-->
        <div style="position: relative;">
          <el-tabs v-if="isAdmin" v-model="active" type="card" @tab-click="handleRoute">
            <el-tab-pane label="COMPANY" name="COMPANY" />
            <el-tab-pane label="PROJECT" name="PROJECT" />
            <el-tab-pane label="STAFFING" name="STAFFING" />
            <el-tab-pane label="CREW START FORM" name="startCrew" />
            <el-tab-pane label="CONTRACTS" name="CONTRACTS" />
            <el-tab-pane label="PAYROLL" name="PAYROLL" />
            <el-tab-pane label="RATES" name="RATES" />
          </el-tabs>
          <el-tabs v-if="!isAdmin" v-model="active" type="card" @tab-click="handleRoute">
            <el-tab-pane label="CREW START FORM" name="startCrew" />
            <el-tab-pane label="CONTRACTS" name="CONTRACTS" />
            <el-tab-pane label="TIMESHEET" name="TIMESHEET" />
            <el-tab-pane label="ARCHIVE" name="ARCHIVE" />
            <el-tab-pane label="CALL SHEET" name="CALL SHEET" />
            <el-tab-pane label="CALENDAR" name="CALENDAR" />
            <el-tab-pane label="PASSWORD" name="PASSWORD" />
          </el-tabs>
        </div>
        <div class="flags">
          <el-dropdown class="avatar-container right-menu-item hover-effect" trigger="click" style="margin-right: 20px;">
            <div class="avatar-wrapper">
              <span class="user-avatar" style="color: #fff;font-size: 18px">{{isAdmin? 'Admin Login' : 'User Login'}}</span>
              <i class="el-icon-caret-bottom" />
            </div>
            <el-dropdown-menu slot="dropdown">
              <router-link to="/">
                <el-dropdown-item>
                  {{ $t('navbar.dashboard') }}
                </el-dropdown-item>
              </router-link>
              <el-dropdown-item divided>
                <span style="display:block;" @click="handleImportCsv">Import CSV</span>
              </el-dropdown-item>
              <el-dropdown-item divided>
                <span style="display:block;" @click="logout">{{ $t('navbar.logOut') }}</span>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <img style="    width: 35px;" src="../../assets/norway.png" alt="">
          <img style="    width: 35px;" src="../../assets/british.png" alt="">
        </div>
      </el-col>
    </el-row>
    <transition name="fade-transform" mode="out-in">
      <keep-alive :include="cachedViews">
        <router-view :key="key" />
      </keep-alive>
    </transition>

    <el-dialog
      title="Import CSV"
      :visible.sync="dialogVisibleImport"
      width="40%"
    >
      <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload" class="form-control">
<!--      <el-form ref="form" :model="temp" label-width="160px">-->
<!--        {{file}}-->
<!--        <el-form-item label="File">-->
<!--          <el-input  id="file" ref="file" @change="onChangeFileUpload" type="file"/>-->
<!--        </el-form-item>-->
<!--      </el-form>-->
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisibleImport = false">Cancel</el-button>
        <el-button type="primary" @click="importCsv()">Import</el-button>
      </span>
    </el-dialog>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { importCsv } from '@/api/mainApi'
export default {
  name: 'AppMain',
  data() {
    return {
      active: 'startCrew',
      listLoading: true,
      file: '',
      isAdmin: false,
      temp: {},
      dialogVisibleImport: false
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'permission_routes'
    ]),
    cachedViews() {
      return this.$store.state.tagsView.cachedViews
    },
    key() {
      return this.$route.fullPath
    }
  },
  created() {
    const roles = this.roles.map(role => role.name)
    if (roles.includes('admin')) {
      this.isAdmin = true
      this.active = 'STAFFING'
      // this.active = 'startCrew'
    } else {
      this.isAdmin = false
      this.active = 'startCrew'
    }
  },
  methods: {
    handleRoute(route, event) {
      if (route.label.toLowerCase() == 'crew start form') {
        if (!this.isAdmin) {
          this.$router.push({ path: this.redirect || '/dashboard' })
        } else {
          this.$router.push({ path: this.redirect || '/startCrew' })
        }
        console.log('startCrew = Route ' + route.label.toLowerCase())
      } else if (route.label.toLowerCase() == 'call sheet') {
        this.$router.push({ path: this.redirect || '/callSheet' })
        console.log('callSheet = Route ' + route.label.toLowerCase())
      } else {
        this.$router.push({ path: this.redirect || route.label.toLowerCase() })
        console.log('Route ' + route.label.toLowerCase())
      }
    },
    handleImportCsv() {
      this.dialogVisibleImport = true
    },
    onChangeFileUpload() {
      this.file = this.$refs.file.files[0]
    },
    // onChangeFileUpload(e) {
    //   const files = e.target.files || e.dataTransfer.files
    //   if (!files.length) {
    //     return
    //   }
    //   this.createFile(files[0])
    // },
    createFile(file) {
      const reader = new FileReader()
      const vm = this
      reader.onload = (e) => {
        vm.file = e.target.result
      }
      reader.readAsDataURL(file)
    },
    importCsv() {
      const formData = new FormData()
      formData.append('file', this.file)
      this.listLoading = true
      importCsv(formData).then(response => {
        // this.departments = response.data.data
        setTimeout(() => {
          this.dialogVisibleImport = false
          this.listLoading = false
          window.location.reload()
          // this.$router.push({ path: this.redirect || '/dashboard' })
        }, 1.5 * 1000)
      })
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push(`/login?redirect=${this.$route.fullPath}`)
    }
  }
}
</script>
<style>
  .el-collapse-item__header {
    font-size: 20px;
  }
  .fixed-wrapper {
    overflow-y: auto;
    height: calc(100vh - 160px);
    margin-top: 0vw;
    padding-top: 0vw;
  }
  .flags {
    float: right;
    position: absolute;
    right: 32px;
    top: 0;
  }
  .border{
    border: 1px solid #fff;
  }
  .el-collapse {
    border-top: none;
    border-bottom: none;
  }
  .el-collapse-item__wrap {
    background-color: #3b3c3d;
  }
  .el-collapse-item__header {
    background-color: #3b3c3d;
    color: #ffffff;
    border-bottom: none;
  }
  .el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.769230769230769;
  }
  li.person {
    list-style: none;
    margin-bottom: 12px;
  }
  .selected{
    background: #64d9d6 !important;
    border: 2px solid blue;
  }
  .clicked{
    background: rgba(27, 32, 36, 0.79);
    padding-top: 10px;
  }
  .clickedDep{
    background: rgba(27, 32, 36, 0.79);
  }
  .el-card.is-always-shadow {
    box-shadow: none;
  }
  .el-card {
    border: none;
    background-color: #3b3c3d;
    color: #ffffff;
  }
  .el-card__header {
    border-bottom: none;
    font-size: 24px;
  }
  .box-card{
    margin-top: 20px;
  }
  .border-top{
    border-top: 3px solid #31B4E6;
    margin-top: 20px;
  }
  .border-bottom{
    border-bottom: 1px solid #dfe4ed;
    margin-top: 20px;
  }
  .el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
  }
  .right-side {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .el-form-item__label {
    font-size: 14px;
    color: #ffffff;
  }
  .el-table tr {
    background-color: #313131;
    color: #fff;
  }
  tr.hover-row{
    background-color: #313131;
    color: #fff;
  }
  .el-table tr:hover {
    background-color: #313131;
    color: #fff;
  }
  .el-table th {
    background-color: #171717;
  }
</style>
<style lang="scss" scoped>

  .dashboard-editor-container {
    padding: 32px;
    background-color: rgb(59, 60, 61);
    position: relative;
    height: 100%;

    .github-corner {
      position: absolute;
      top: 0px;
      border: 0;
      right: 0;
    }

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }
.app-main {
  /* 50= navbar  50  */
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fixed-header+.app-main {
  padding-top: 50px;
}

.hasTagsView {
  .app-main {
    /* 84 = navbar + tags-view = 50 + 34 */
    min-height: calc(100vh - 84px);
  }

  .fixed-header+.app-main {
    padding-top: 84px;
  }
}
</style>

